{% extends 'base.html' %}
{% load static %}
{% block body_block %}

<div>
  <div id="video-carousel-example2" class="carousel slide carousel-fade" data-ride="carousel">
    <!--Indicators-->
    <!-- <ol class="carousel-indicators">
      <li data-target="#video-carousel-example2" data-slide-to="0" class="active"></li>
      <li data-target="#video-carousel-example2" data-slide-to="1"></li>
      <li data-target="#video-carousel-example2" data-slide-to="2"></li>
    </ol> -->
    <!--/.Indicators-->
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
      <!-- First slide -->
      <div class="carousel-item active">
        <!--Mask color-->
        <div class="view">
          <!--Video source-->
          <video class="video-fluid" autoplay loop muted style="width:100%; height:75%;">
            <source src="{% static 'assets/img/ireland.mp4' %}" type="video/mp4" />
          </video>
          <div class="mask rgba-indigo-light"></div>
        </div>

        <!--Caption-->
        <div class="carousel-caption">
          <div class="animated fadeInDown">
            <h1 style="font-weight:600;  margin-top: -450px; font-family: Oswald; font-size:50px;">Welcome To Ireland</h1>
          </div>
        </div>
        <!--Caption-->
      </div>
      <!-- second slide -->
      <div class="carousel-item">
        <!--Mask color-->
        <div class="view">
          <!--Video source-->
          <video class="video-fluid" autoplay loop muted style="width:100%; height:75%;">
            <source src="{% static 'assets/img/ireland2.mp4' %}" type="video/mp4" />
          </video>
          <div class="mask rgba-indigo-light"></div>
        </div>

        <!--Caption-->
        <div class="carousel-caption">
          <div class="animated fadeInDown">
            <h1 style="font-weight:600;  margin-top: -450px; font-family: Oswald; font-size:50px;">Welcome To Ireland</h1>
          </div>
        </div>
        <!--Caption-->
      </div>
      <!-- Slide 3  -->
      <div class="carousel-item ">
        <!--Mask color-->
        <div class="view">
          <!--Video source-->
          <video class="video-fluid" autoplay loop muted style="width:100%; height:75%;">
            <source src="{% static 'assets/img/ireland3.mp4' %}" type="video/mp4" />
          </video>
          <div class="mask rgba-indigo-light"></div>
        </div>

        <!--Caption-->
        <div class="carousel-caption">
          <div class="animated fadeInDown">
            <h1 style="font-weight:600;  margin-top: -450px; font-family: Oswald; font-size:50px;">Welcome To Ireland</h1>
          </div>
        </div>
        <!--Caption-->
      </div>
      <!--Controls-->
  <!-- <a class="carousel-control-prev" href="#video-carousel-example2" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#video-carousel-example2" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a> -->
  <!--/.Controls-->
</div>




  <main id="main">



    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2></h2>
          <p>About Ireland</p>
        </div>

        <ul class="faq-list">

          <li>
            <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">Population <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq1" class="collapse" data-bs-parent=".faq-list">
              <p>
                4.92 million
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">Language <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq2" class="collapse" data-bs-parent=".faq-list">
              <p>
                English
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">Capital City <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq3" class="collapse" data-bs-parent=".faq-list">
              <p>
              Dublin
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">Size <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq4" class="collapse" data-bs-parent=".faq-list">
              <p>
              70,282 km2
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">Currency <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq5" class="collapse" data-bs-parent=".faq-list">
              <p>
                Euro
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq6" class="collapsed question">Climate<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq6" class="collapse" data-bs-parent=".faq-list">
              <p>
                Average daily temperatures of 14-16 degrees in summer, 4-7 degrees in winter
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq7" class="collapsed question">Other details<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq7" class="collapse" data-bs-parent=".faq-list">
              <p>
                <p></p>
                Democratic and stable political environment  <p></p>
                Member of European Union with access to a potential market of 500 million people <p></p>
                12.5% Corporate Tax Rate for companie <p></p>
                11th best country in the world to do business (Forbes 2019)

          </li>

        </ul>

      </div>
    </section><!-- End F.A.Q Section -->




    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>About</h2>
          <p>Why choose Ireland ?</p>
        </div>

        <div class="row content" data-aos="fade-up">
          <div class="col-lg-6">
            <ul>
              <li><i class="ri-check-double-line"></i> Ireland is a safe and friendly location for family life.</li>
              <li><i class="ri-check-double-line"></i> Ireland's air quality and food products are world renowned.</li>
              <li><i class="ri-check-double-line"></i> Ireland has a world-renowned education system for students of all ages</li>
              <li><i class="ri-check-double-line"></i> Ireland offers a fantastic base for retirement.</li>
              <li><i class="ri-check-double-line"></i>Irelands private healthcare system is relatively inexpensive and has temperature climate.
</li>
              <li><i class="ri-check-double-line"></i> Ireland has multiethnic populace and sparsely populated living environment.</li>

            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              Dublin, Irelands capital is now ranked 46th most expensive city in the world.
Ireland is a neutral country and the 12th most peaceful country out of 163 nations to live. (2020 Global Peach Index)
Irish citizens are free to travel, live, work or be educated in any European Union state.

            </p>
            <a href="{% url 'whyus' %}" class="btn-learn-more">Learn More</a>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->









  </main><!-- End #main -->

{% endblock %}
