{% extends 'base.html' %}
{% load static %}
{% block body_block %}

<main id="main"><br><br><br>


  <section id="one" class="wrapper style1" style="padding-top: 40px; padding-bottom: 0;">

    <section id="specials" class="specials" style="padding-top: 0; padding-left:12%; padding-right:12%;">
      <div class="container" data-aos="fade-up">
        <br /><br />

            <div style="text-align: center; text-decoration: solid; padding-bottom: 15px;">
                <h2><b>INVESTMENT VISA</b></h2>
          <!-- <p style="color: black; font-size: 3em; font-family:Open Sans, sans-serif;">STUDENT & TRAINING VISA</p> -->
        </div>
        <br /><br />
          <br>


        <div class="section-title-details">

          <p>Wealthy foreign nationals can obtain Irish residency through the Ireland Investor Visa. In 2012, the Irish government implemented the Immigrant Investor Programme (IIP), which allows non-EU/EEA nationals and their immediate family members to get one step closer to Ireland citizenship by investing a substantial amount of money in an Irish business or enterprise, thus creating new jobs and developing Irish economy.</p>
<p>
  It is the Irish Naturalisation and Immigration Service (INIS) along with an Evaluation Committee who decides which investments are eligible for the Immigrant Investor Programme, and consequently, which applicants can get the Ireland Investment Visa.
</p>
<p>
  The Ireland Investment Visa is often referred to as an Ireland Golden Visa.


          </p>






          <!-- <ul style="list-style-type:square"> -->






                <h4>Who is eligible for the Ireland Investment Visa?</h4>
                <ul>


              <li>

                You qualify for the so-called “Ireland Golden Visa”, and in turn, for Irish residency, if you are a foreign national not in the EU or EEA and you invest at least €1 million into one of the following investment options:
                  </li>
              </ul>



                <h4>Enterprise Investment</h4>
                <ul>
                  <li>
                    You must invest a minimum of €1 million in an Irish enterprise for at least 3 years.
                  </li>
                  <li>
                    	It must be made in your name. You cannot invest in behalf of a corporation, even if you own 100% of the shares in it.
                  </li>
                  <li>
                    You could either invest in one Irish enterprise or divide the investment over several enterprises.
                  </li>
                  <li>
                    The investment has to help in the creation or preservation of employment.<br />
                    In addition, the enterprise could be a start-up which you have established or an already-existing business which is registered in Ireland.

                  </li>
                </ul>




                <h4>Investment Fund</h4>
                <ul>
                <li>

                You must invest a minimum sum of €1 million in an Approved Investment Fund for at least three years. The fund you invest in must be pre-approved for the Immigrant Investor Programme. In addition, the fund in which you invest must use the money you invested in a manner which follows the guidelines of the IIP.</li>
                <li>

                The fund you invest in, as well as the fund managers, have to be regulated by the Central Bank of Ireland. The fund manager must have an established record of managing regulated funds in order to be eligible under this program.</li>
                <li>

                You can find out which Investment Funds are approved for this program by contacting the Irish Naturalisation and Immigration Service (INIS).</li>

              </ul>


                <h4>  Real Estate Investment Fund (REIT)</h4>
                <ul>


                <li>

                You must invest at least €2 million in an Irish REIT which is listed on the Irish Stock Exchange. You could also divide your investment into several different REITs so as to minimize risk.</li>
              <li>
                 In addition, you must hold your full initial investment for at least three years, even if your shares rise in value above your original investment.</li>
                <li>
                  Three years after you purchase the shares, you can divest a maximum of 50%. Another year after that, you can divest an additional 25% of the purchased shares. After five years have passed since you purchased the shares, you could divest them fully, if you wished.</li>

                  </ul>








                    <h4>Endowments</h4>
                    <ul>
                      <li>
                        The endowment option is the most direct method of investing in Irish economy. You must donate a minimum of €500,000 in a project which is of public benefit in the fields of art, education, health, culture, or sports in Ireland.
                      </li>
                      <li>
                        However, this is not an investment – it is merely a donation of philanthropic nature and you will not receive any financial return or recoupment.

                      </li>
                      <li>
                        If a group of at least five investors want to combine their donations, they must each donate a minimum of €400,000 in order to qualify for the Immigrant Investor Programme.

                      </li>
                    </ul>

                    <h4>Requirements for an Ireland Investor Visa</h4>
                    <p>
                      When you submit your Ireland Investor Visa application, you must have several supporting documents.<br />
                      Document checklist for Ireland Investor Visa application


                    </p>

                    <ul>
                      <li>
                        	Proof of net worth. You must have a minimum net worth of €2 million, which you have acquired legally, to qualify for the IIP. The funds must be yours, not of another family member, for example.

                      </li>
                      <li>
                        Explanation of your financial activities from the past 12 months, such as:
                        <ul>
                          <li>
                            Your income, including employment details, annual income, bonuses and commissions, and any gifts or inheritances you may have received.
                          </li>
                          <li>
                              Full details of any investments you made.
                          </li>
                          <li>
                                Your loans (bank, mortgage, etc.)
                          </li>
                        </ul>

                      </li>

                      <li>
                        Proof you have the required funds for investment. You must also be able to prove you can transfer them to Ireland.

                      </li>
                      <li>
                        Proof of the source of your funds. You must be able to show how you acquired the funds you intend to use for the investment, for example via:
                        <ul>

                        <li>
                          Business/investment activities



                        </li>
                        <li>
                          	Sale deeds
                        </li>
                        <li>
                          Inheritance/gifts
                        </li>
                        <li>
                          	Divorce settlement
                        </li>
                        </ul>

                      </li>
                      <li>
                        Evidence of character. You must include a statement of character from the authorities from every country you have lived in for more than six months for the past ten years.
                        <ul>
                          <li>
                            You must include the same type of statement of character for any of your children who are over 16 that you have included on the application.

                          </li>
                        </ul>



                      </li>

                    </ul>

                    <p>
                      In addition, depending on the type of investment you will make, you need the following documents as well:

                    </p>

        </div>
        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-4">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-toggle="tab" href="#tab-1">For Enterprise Investment</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-2">Investment Fund
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-3">Real Estate Investment Trust</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-4">Endowment</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-5">How to apply for the Ireland Investor Visa?</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-6">Residence Permits for an Ireland Ireland Investor Visa</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-7">Irish Immigrant Investment Programme (IIP) Introduction</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-8">IIP– Investment Options</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-9">IIP Project Terms I</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-10">IIP Project Terms II</a>
              </li>

            </ul>
          </div>
          <div class="col-lg-8 mt-4 mt-lg-0" style="text-align: justify;">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <div class="row">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>For Enterprise Investment</h3>

<ul style="list-style-type:square;" >
	<li>

  A comprehensive business plan of the enterprise in which you are investing (new or existing), which:</li>
  <ul >
    <li><i class="ri-check-double-line"></i>
      	Identifies the financial investments you are making.

    </li>
    <li><i class="ri-check-double-line"></i>
      	Shows how your investment will help create or maintain jobs.

    </li>
    <li><i class="ri-check-double-line"></i>
      	Details how much equity you are acquiring.

    </li>
    <li><i class="ri-check-double-line"></i>
      	Details how you will receive investment return.

    </li>
  </ul>
  <br />


<li>
  If you are investing in an already-existing business: Most recent audited business account.

</li>
<li>
  Letter from a solicitor which confirms that you have transferred the funds in the Irish business/enterprise.

</li>
<li>A letter from the business/enterprise which states how much you have invested.

</li>
<li>A payment remittance and bank statement which proves you have transferred the funds.

</li>
  </ul>

                      </li>
                    </ul>
                  </div>
                  <!-- <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="assets/img/sunsweet.jpeg" alt="" class="img-fluid">
                </div> -->
                </div>
              </div>
              <div class="tab-pane" id="tab-2">
                <div class="row">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>Investment Fund</h3>
                    <ul style="list-style-type:square;">


                    <li>	Include a profile of the investment fund, which details:</li>




                    <ul>
                        <li><i class="ri-check-double-line"></i>
                          The investment strategy
                        </li>
                        <li><i class="ri-check-double-line"></i>
                          	The source of funding
                        </li>
                        <li><i class="ri-check-double-line"></i>
                            The investment pool for the fund
                        </li>
                        <li><i class="ri-check-double-line"></i>
                          A target return on investment;
                        </li>
                        <li><i class="ri-check-double-line"></i>
                        States the employment projections of the investments under the fund.
                        </li>
                    </ul>

                  <li>
                    Letter from a solicitor which confirms that you have transferred the funds in the Irish business/enterprise.

                  </li>
                  <li>
                    A letter from the Fund Investment Manager confirming you have transferred the funds.

                  </li>
                  <li>
                    A copy of your subscription certificate

                  </li>
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="tab-3">
                <div class="row">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>Real Estate Investement Trust</h3>
                    <ul style="list-style-type:square;">
                      <li>
                        Proof you have the required funds for the investment. You do not need to specify which REIT you are investing in.
                      </li>
                      <li>
                        Letter from a solicitor which confirms that you have invested €2 million in REIT.
                      </li>
                      <li>
                        A letter from the REIT company which confirms the sum you have invested.
                      </li>
                      <li>
                        Copy of your share certificate.
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="tab-4">
                <div class="row">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>Endowment</h3>

                    <ul>
                        <li style="list-style-type:square;">
                          	A Business Plan. You can find a business plan template on INIS’s website and adapt it to your purpose.


                        </li>
                        <li style="list-style-type:square;">
                            Proof of how your donation will be used and how it will benefit Ireland.
                        </li>

                    </ul>

                    <p>
                      Required documents after you make your investment
                      After your application for Ireland Investor Visa has been approved, you have to submit the following documents to the Minister for Justice and Equality:


                    </p>
                  <ul style="list-style-type:square;">
                    <li>
                      Letter from a solicitor which confirms that you have transferred the funds to the Irish registered charity.



                    </li>
                    <li>
                      	A letter from the registered charity which confirms you have transferred the funds.

                    </li>
                    <li>
                      	A payment remittance and bank statements proving you have transferred the funds.
                    </li>
                    The solicitor who issues your letter must be cleared to work in Ireland.

                  </ul>
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="tab-5">
                <div class="row">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>How to apply for the Ireland Investor Visa?</h3>
                    <p>Before you invest in any Irish fund, you must make an online application at the Irish Naturalisation and Immigration Service (INIS) of the Ministry for Justice and Equality.</p>

                    <ul style="list-style-type:square">
                        <li>
                            <b>File the online application form: </b>
You start by filling out the online application form and collecting all the required documents. You could employ an Irish immigration lawyer or another legal representative to assist you with the application process and acquiring the documents.

</li><br />
                        <li>
                            <b> Mail your documents:</b>
Once you have completed the application form and obtained the documents, you have to submit them online by emailing them to this email address: iip&stepapplications@justice.ie

</li><br />
                        <li>
                            <b>Pay the fees: </b>
You must also pay a non-refundable processing fee of €1,500  by electronic funds transfer and mail the receipt along with the completed and signed application form to the Immigrant Investor Unit of INIS in Ireland.

</li><br />
                        <li>
                            <b>Wait for processing:</b>
Once the INIS receive your application, they will present it for evaluation to the Minister for Justice and Equality and an Evaluation Committee.<br /><br />
The Evaluation committee for the Ireland Investor Visa consists of senior officials from relevant Irish Government Departments and Irish State Agencies that are involved in Irish enterprise development.</li><br />
<li>


<b>If your application is approved,</b> you will receive a pre-approval letter, which allows you to make your investment. You have to make the investment within 90 days after the letter is issued.<br /><br />
Then, after you have successfully made your investment, you must submit several other supporting documents to the Minister for Justice and Equality (see below).<br />
Because of the large amount of money in question, many applicants choose to <a href="https://visaguide.world/harvey-law/" >hire legal representatives</a> to help with the Irish investor visa application process.
</li><br />


                    </ul>
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="tab-6">
                <div class="row">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>Residence Permits for an Ireland Investor Visa</h3>

                    <ul style="list-style-type:square">


                  <li>

                    After the Minister for Justice and Equality confirms your investment and issues you with an approval letter, you will receive a letter allowing you to live in Ireland as part of the Ireland Investor Visa.</li><br />
                      <li>
                        The letter of approval serves as residence permission for you and any of your family members for two years
                      </li><br />
                      <li>
                        Once you have the approval letter, you must <a href="https://visaguide.world/europe/ireland-visa/residence-permit/" >register at the registration office in Dublin and get your Ireland Residence Permit</a>. You and your family members <a href="https://visaguide.world/europe/ireland-visa/stamps/" >will receive a Stamp 4</a> – an Irish registration stamp which allows the holder to work, to study or start a business in Ireland without having to obtain a separate immigration permit, such as an Ireland Employment Permit.
                      </li><br />
                      <li>
                        If you have continued to meet the requirements of the Immigrant Investor Programme, you can renew your residence permit after two years.
                      </li><br />
                      <li>
                        What family members can you include on the Ireland Investor Visa?
       The family members that you can include on your Ireland Golden Visa application are:
       <ul >
         <li><i class="ri-check-double-line"></i>
           	Your spouse/partner.


         </li>
         <li><i class="ri-check-double-line"></i>
           	Your minor children (under 18 years old).
         </li><br />
       </ul>


     </li>
                      <li>
                        In some cases, children between 18 and 24 can be included on the Ireland Investor Visa if they are unmarried and they are financially dependent on you – for example, they are still in school/university.
                      </li><br />
                      <li>
                        Getting Ireland Citizenship by Investment
The Immigrant Investor Programme does not promise immediate Irish citizenship to the foreign investor

</li><br />
                      <li>
                        However, it provides you with a renewable residence permit, and you can apply for Ireland citizenship through naturalization if you fulfill the conditions the same way as other foreign nationals.<br />
                        As such, the Immigrant Investor Program is the only way to get Ireland citizenship by investment – it just won’t be immediate.
                      </li><br />



                      </ul>









                  </div>
                </div>
              </div>




              <div class="tab-pane" id="tab-7">
                <div class="row">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>Irish Immigrant Investment Programme (IIP) Introduction
</h3>

                    <ul style="list-style-type:square">

                      <li>

                      The IIP was announced by the Department of Justice & Equality in January 2012
and is operated by the Irish Naturalisation and Immigration Service (INIS). The
ultimate objective of the programme is job creation and facilitating Irish economic
development.</li><br />




                  <li>

                    The IIP facilitates non-EEA nationals and their families who commit to an approved investment ‘Option’ in Ireland to acquire a secure residency status in
                    Ireland.</li><br />
                      <li>
                        Investors must be of good character and have not been convicted of criminal
                        offences in any jurisdiction.                      </li><br />
                      <li>
                        Once you have the approval letter, you must register at the registration office in Dublin and get your Ireland Residence Permit. You and your family members will receive a Stamp 4 – an Irish registration stamp which allows the holder to work, to study or start a business in Ireland without having to obtain a separate immigration permit, such as an Ireland Employment Permit.
                      </li><br />
                      <li>
                        Investors must have a minimum net worth of €2m and disclose in full the
                        source of their funds.                      </li><br />

                      </ul>







                  </div>
                </div>
              </div>


              <div class="tab-pane" id="tab-8">
                <div class="row">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>
IIP– Investment Options

</h3>

                    <ul style="list-style-type:square">





                  <li>


 Enterprise Investment (€1m for 4 year term) – Fitzwilliam
Group’s Projects are approved by INIS under this option


</li><br />
                      <li>
                        Investment Fund (€1m for 3 years) – Investment monies are
                        not secured on assets and are subject to investment
                        performance and annual fees                      </li><br />
                      <li>
                        Real Estate Investment Trusts (€2m, for 5 year term) –
                        Investment amount not competitive                      </li><br />
                      <li>
 Endowment (€400,000).                     </li><br />

                      </ul>

                      <div style="padding-top: 0px;">
                       <img src="/static/assets/img/investor1.png" class="img-fluid responsive" style=" width:80%;" alt="">

                     </div>







                  </div>
                </div>
              </div>






              <div class="tab-pane" id="tab-9">
                <div class="row">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>IIP Project Terms I
</h3>

                    <ul style="list-style-type:square">






                  <li>

                    <b>Evidence of Net Worth</b> - Investors must have a minimum net worth of €2
million.</li><br />
                      <li>
                      <b>Evidence of Funds - </b>  Investors must provide proof of funds to be used for
                        investment.                     </li><br />
                      <li>
                      <b>Evidence of Source of funds -</b>  Investors must provide the necessary evidence
                       to prove the origin of funds. An accountant and a lawyer should be appointed
                       to deal with all sources of funding and any related technical issues. The
                       following sources of funding may be accepted:
                     <ul >
                       <li><i class="ri-check-double-line"></i>
                         Business and investment activities
                       </li>
                       <li><i class="ri-check-double-line"></i>
                          Deeds of Sale
                       </li>
                       <li><i class="ri-check-double-line"></i>
                        Inheritance
                       </li>
                       <li><i class="ri-check-double-line"></i>
                         Divorce
                       </li>
                     </ul>              </li><br />
                      <li>
                        <b>Evidence that funds can be transferred - </b>All funds must be available to
                        transfer to Ireland and can be convertible into Euros at the time of your
                        application being approved.                     </li><br />
                        <li>
                          <b>Evidence of Good Character -</b>Your lawyer can help you obtain the necessary public security evidence to support your application.
                        </li>

                      </ul>







                  </div>
                </div>
              </div>












                            <div class="tab-pane" id="tab-10">
                              <div class="row">
                                <div class="col-lg-10 details order-2 order-lg-1">
                                  <h3>IIP Project Terms ||
              </h3>

                                  <ul style="list-style-type:square">






                                <li>

                                  <b>Recouping Investment -</b> After 4 years an Investor’s funds are projected to be returned within 12 weeks of the
                                  Investor calling on the funds.</li><br />
                                    <li>
                                    <b>Flexible residency - </b>  Investors only need to spend one day per calendar year in Ireland to meet the residency
                                   requirements of the programme.     </li><br />
                                    <li>
                                    <b>Management Experience not required -</b>   The immigrant investor does not require business management
                                    experience.
                                              </li><br />
                                    <li>
                                      <b>Evidence that funds can be transferred - </b>All funds must be available to
                                      transfer to Ireland and can be convertible into Euros at the time of your
                                      application being approved.                     </li><br />
                                      <li>
                                        <b>Language skills and qualifications not required - </b>This immigrant investor programme has no English language
                                        skills or qualification requirements.
                                      </li><br />
                                      <li>
                                         <b>  Naturalisation -</b>Investors living in Ireland for five years can qualify for Irish / EU citizenship.
                                      </li>

                                    </ul>







                                </div>
                              </div>
                            </div>

















            </div>

          </div>
    </section>

  </section>

</div> <br><br><br>

</main>



{% endblock %}
