{% extends 'base.html' %}
{% load static %}
{% block body_block %}

<main id="main">

<br>
<!-- ======= Features Section ======= -->
<section id="features" class="features">
  <div class="container">

    <div class="section-title">
      <p>Long Stay Visas (More than 3 months)</p>
      <i>If you wish to travel to Ireland for more than 3 months, for example to pursue a course of study, for work or to settle permanently in Ireland with family members who are already resident in Ireland, then you can apply for a long stay ‘D’ visa for a single entry.</i>
      <i>Before making an application for a long stay ‘D’ visa please make sure that you are familiar with the immigration arrangements that apply to persons seeking to come to Ireland for more than 3 months, whether to study , to work or to settle permanently with family members who are already resident in Ireland.</i>
      <i>If you are granted a long stay ‘D’ visa and wish to remain in the State for longer than 3 months, or beyond the period of leave granted to you by an Immigration Officer at an Irish port of entry you will be required to register and obtain a residence permit.</i>

    </div>

    <ul class="nav nav-tabs row d-flex">
      <li class="nav-item col-3" data-aos="zoom-in">
        <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">
          <i class="ri-gps-line"></i>
          <h4 class="d-none d-lg-block">Study visa</h4>
        </a>
      </li>
      <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="100">
        <a class="nav-link" data-bs-toggle="tab" href="#tab-2">
          <i class="ri-body-scan-line"></i>
          <h4 class="d-none d-lg-block">Join a family member visa</h4>
        </a>
      </li>
      <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="200">
        <a class="nav-link" data-bs-toggle="tab" href="#tab-3">
          <i class="ri-sun-line"></i>
          <h4 class="d-none d-lg-block">Joining your UK national family member in Ireland</h4>
        </a>
      </li>
      <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="300">
        <a class="nav-link" data-bs-toggle="tab" href="#tab-4">
          <i class="ri-store-line"></i>
          <h4 class="d-none d-lg-block">Employment visa</h4>
        </a>
      </li>
    </ul>

    <div class="tab-content" data-aos="fade-up">
      <div class="tab-pane active show" id="tab-1">
        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
            <h3>Study visa</h3>

            <p>You can apply for a study visa if you are planning to come to Ireland to undertake a course of study for more than 3 months.</p>
            <p>You are advised to familiarize yourself with our Policy on Non-EEA Nationals studying in Ireland and ensure that you fulfil the requirement of our policy before you make your visa application.</p>
            <p>You can apply for a study visa up to 3 months before your date of travel to Ireland.</p>
            <p>If you are visiting another State prior to travelling to Ireland, you must have the relevant visa for that State in your passport before applying for an Irish visa.</p>

            <ul>Supporting documentation
              <li><i class="ri-check-double-line"></i> The documents below are important because they provide information about your personal circumstances in the country from which you are applying.</li>
              <li><i class="ri-check-double-line"></i> The onus is on you to satisfy the Visa Officer that a visa should be granted for the purpose sought.</li>
              <li><i class="ri-check-double-line"></i>The submission of any or all of these documents does not guarantee that your application will be successful.</li>
              <li><i class="ri-check-double-line"></i>Original documents must be provided.</li>
              <li><i class="ri-check-double-line"></i>If you submit a document that is not in English/Irish, it must be accompanied by a full translation. Each translated document must contain:
                <ol>
                  <li>         confirmation from the translator that it is an accurate translation of the original document</li>
                  <li> the date of the translation</li>
                  <li>the translator’s full name and signature</li>
                  <li>the translator’s contact details</li>
                </ol>
              </li>
              <!-- <li><i class="ri-check-double-line"></i>Ireland was listed among the top countries where students are very satisfied with their study abroad experience </li> -->
            </ul>
            <p>All letters submitted by a business, company or other organization should be on official headed paper and give full contact details so that they can be verified. These must include a full postal address, name of contact, position in the organization, telephone number (landline), website, and email address (email addresses such as Yahoo or Hotmail are not accepted).</p>

<p></p>
          <i style="color:green;">The Visa Officer considers each application on its merits and may request additional information or documentation.</i>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 text-center">
            <img src="{% static 'assets/img/study.jpg' %}" alt="" class="img-fluid">
          </div>
        </div>
      </div>
      <div class="tab-pane" id="tab-2">
        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
            <h3>Join a family member visa</h3>

            <ul>
              Government Policy on Non-EEA Family Reunification
                <li><i class="ri-check-double-line"></i> If you wish to come to Ireland to reside for longer than 3 months with a family member who is an Irish citizen or who is lawfully resident in Ireland you can apply for a long stay (join family) visa.</li>
                <li><i class="ri-check-double-line"></i>A comprehensive statement of national immigration policy on the area of family reunification is contained in the Policy Document on Non-EEA Family Reunification published on 31 December 2013. The policies outlined in the document apply to all decision making in relation to family reunification cases where ministerial discretion applies including long stay (join family) visa applications.</li>
                <li><i class="ri-check-double-line"></i>The policies do not apply to:

                      <ol>
                        <li> applications pursuant to Directive 2004/38/EC on the rights of citizens of the Union and their family members to move and reside freely within the territory of Member States</li>
                        <li>    applications for family reunification by recognized refugees or persons granted subsidiary protection.</li>
                      </ol>
                </li>

                <li><i class="ri-check-double-line"></i>Before you apply for a long stay (join family) visa please read the Policy Document carefully to find out:


                      <ol>
                        <li>   who is eligible to be a sponsor for the purposes of an application for family reunification,</li>
                        <li>   who may be sponsored and the eligibility requirements</li>
                        <li>whether waiting periods apply before a person becomes eligible to sponsor</li>
                        <li>whether a sponsor must achieve a minimum level of earnings prior to being eligible to sponsor</li>
                        <li> what a person who is granted a join family visa may do in Ireland</li>
                        <li>   how dependency is measured when this is adduced in support of an application for family reunification</li>
                      </ol>
                </li>

                <li><i class="ri-check-double-line"></i>When you can apply


                      <ol>
                        <li>  If you wish to come to Ireland to reside for longer than 3 months with a family member who is an Irish citizen or who is permitted to reside in Ireland you can apply for a long stay (join family) single entry visa.</li>
                          </ol>
                </li>
                <li><i class="ri-check-double-line"></i>Supporting documentation


                      <ol>
                        <li>   The documents below are important because they provide information about your personal circumstances</li>
                        <li> The onus is on you to satisfy the Visa Officer that a visa should be granted for the purpose sought</li>
                        <li>Original documents must be provided</li>
                        <li>confirmation from the translator that it is an accurate translation of the original document, the date of the translation, the translator’s full name and signature, and the translator’s contact details</li>
                    </ol>
                </li>
            </ul>
            <p>All letters submitted from a business, company or other organization should be on official headed paper and give full contact details so that they can be verified. These must include a full postal address, name of contact, position in the organization, telephone number (landline), website, and email address (email addresses such as Yahoo or Hotmail are not accepted).
The Visa Officer considers each application on its merits and may request additional information or documentation.</p>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 text-center">
            <img src="{% static 'assets/img/uk family member.jpg' %}" alt="" class="img-fluid">
          </div>
        </div>
      </div>
      <div class="tab-pane" id="tab-3">
        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
            <h3>Joining your UK national family member in Ireland</h3>
            <p>With effect from 11pm on 31 December 2020 following the end of the Brexit transition period, all non-EEA family members of UK nationals seeking to join, or accompany, their UK national family member in Ireland will need to apply (depending on nationality) through a preclearance or visa scheme. This scheme applies to both visa required, and non-visa required nationals. You must apply before you travel to Ireland. Do not apply under this scheme if your intended stay is for less than 3 months.</p>
            <p>The Preclearance Scheme only applies when a UK national has come to live in Ireland after 31 December 2020. If a UK national is living in Ireland on or before that date they and their eligible non-EEA family members will be a beneficiary under the Withdrawal Agreement.</p>
            <p>UK citizens are not considered ‘non-nationals’ for the purpose of Irish immigration law, and will continue to enjoy arrangements under the Common Travel Area (CTA) including the freedom to live in the State after the UK leaves the European Union (EU).</p>
            <p>This scheme allows certain non-EEA nationals to apply to join their UK national family member in Ireland. There is no automatic entitlement to family reunification, but UK nationals will be permitted to act as a sponsor of such applications.</p>
            <p>The immigration permission and application system described on this page is based on the Policy Document published 23/12/2020. The Department of Justice reserves the right to amend or suspend this policy at any time.</p>

            <ul>I am outside of Ireland, am I eligible to apply under this Scheme?
              <li><i class="ri-check-double-line"></i> Are a non-EEA, non-Swiss national</li>
              <li><i class="ri-check-double-line"></i> Are being sponsored by a UK national</li>
              <li><i class="ri-check-double-line"></i> Are ordinarily resident outside of Ireland.</li>
              <li><i class="ri-check-double-line"></i>Are of good character and good standing, e.g. you can provide a police clearance certificate or equivalent not more than 6 months old for any country you have resided in in the past five years</li>
              <li><i class="ri-check-double-line"></i>Are in a position to show documentary evidence of your relationship to the UK national.</li>
              <li><i class="ri-check-double-line"></i>Intend to live together permanently with your UK family member in Ireland.</li>
              <li><i class="ri-check-double-line"></i>Have medical insurance from a company authorized by the Health Insurance Authority of Ireland (see below for further details).</li>
              <li><i class="ri-check-double-line"></i>And fall into one of the following categories:
                <ol> Category 1
                  <li>Spouse</li>
                  <li>civil partner or</li>
                  <li>de facto partner (you must be aged 18 years or older if applying in this category).</li>
                </ol>
              </li>
              <li><i class="ri-check-double-line"></i>And fall into one of the following categories:
                <ol> Category 2 Dependent child of:
                  <li>sponsor</li>
                  <li>spouse</li>
                  <li>civil partner</li>
                  <li>de facto partner </li>
                </ol>
              </li>
              <li><i class="ri-check-double-line"></i>And fall into one of the following categories:
                <ol> Category 3 (who are aged 66 or older) of:
                  <li>sponsor</li>
                  <li>Spouse</li>
                  <li>civil partner or</li>
                  <li>de facto partner </li>
                </ol>
              </li>
                </ul>
                <i>Eligibility to apply does not mean that it is automatically assumed that the non EEA national’s application will be granted under this Scheme</i>
                <h5>What supporting documents are required?</h5>
                  <p>If you find that you cannot submit a document requested below, you should provide an explanation as to why you cannot provide it, and any other documents for consideration by the Preclearance / Visa Officer. The documents below are important because they provide information about your personal circumstances in the country from which you are applying.
The onus is on you to satisfy the Visa Officer that a visa should be granted for the purpose sought.
The submission of any or all of these documents does not guarantee that your application will be successful.
Original documents must be provided.
</p>
<ul>
  If you submit a document that is not in English/Irish, it must be accompanied by a full translation. Each translated document must contain:
  <li><i class="ri-check-double-line"></i>confirmation from the translator that it is an accurate translation of the original document</li>
  <li><i class="ri-check-double-line"></i>the date of the translation</li>
  <li><i class="ri-check-double-line"></i>the translator’s full name and signature</li>
  <li><i class="ri-check-double-line"></i>the translator’s contact details.</li>
</ul>
<p>All letters submitted by a business, company or other organization should be on official headed paper and give full contact details so that they can be verified. These must include a full postal address, name of contact, position in the organization, telephone number (landline), website, and email address (email addresses such as Yahoo or Hotmail are not accepted).The Visa Officer considers each application on its merits and may request additional information or documentation
</p>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 text-center">
            <img src="{% static 'assets/img/family member.jpg' %}" alt="" class="img-fluid">
          </div>
        </div>
      </div>
      <div class="tab-pane" id="tab-4">
        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
            <h3>Employment visa</h3>
            <p>
              You can apply for an Employment (Permits etc.) visa after you have obtained your employment permit from the Department of Jobs, Enterprise & Innovation (DJEI).

            </p>
            <p>There are different types of employment permits issued by DJEI including Critical Skills Employment Permits and Work Permits. DJEI will shortly introduce a new range of employment permits. The correct visa type for a holder of any type of employment permit issued by DJEI is the Employment (Permits etc.).
</p>
              <p>You can apply for an Employment (Permits etc.) visa up to 3 months before your date of travel to Ireland.If you are visiting another state prior to travelling to Ireland, you must have the relevant visa for that state in your passport before applying for an Irish visa.</p>
            <ul>Supporting documentation
              <li><i class="ri-check-double-line"></i> The documents below are important because they provide information about your personal circumstances in the country from which you are applying.</li>
              <li><i class="ri-check-double-line"></i>The onus is on you to satisfy the Visa Officer that a visa should be granted for the purpose sought.</li>
              <li><i class="ri-check-double-line"></i>The submission of any or all of these documents does not guarantee that your application will be successful.</li>
              <li><i class="ri-check-double-line"></i>Original documents must be provided.</li>

            </ul>
            <ul>
              If you submit a document that is not in English/Irish, it must be accompanied by a full translation. Each translated document must contain:
              <li><i class="ri-check-double-line"></i>confirmation from the translator that it is an accurate translation of the original document</li>
              <li><i class="ri-check-double-line"></i>the date of the translation</li>
              <li><i class="ri-check-double-line"></i>the translator’s full name and signature</li>
              <li><i class="ri-check-double-line"></i>the translator’s contact details.</li>

            </ul>
            <p>All letters submitted from a business, company or other organization should be on official headed paper and give full contact details so that they can be verified. These must include a full postal address, name of contact, position in the organization, telephone number (landline), website, and email address (email addresses such as Yahoo or Hotmail are not accepted).</p>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 text-center">
            <img src="{% static 'assets/img/employment.jpg' %}" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
<p></p>
    <ul class="nav nav-tabs row d-flex">
      <li class="nav-item col-3" data-aos="zoom-in">
        <a class="nav-link active show" data-bs-toggle="tab" href="#tab-5">
          <i class="ri-gps-line"></i>
          <h4 class="d-none d-lg-block">Employment (researcher) visa</h4>
        </a>
      </li>
      <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="100">
        <a class="nav-link" data-bs-toggle="tab" href="#tab-6">
          <i class="ri-body-scan-line"></i>
          <h4 class="d-none d-lg-block">Employment (Van der Elst) visa</h4>
        </a>
      </li>
      <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="200">
        <a class="nav-link" data-bs-toggle="tab" href="#tab-7">
          <i class="ri-sun-line"></i>
          <h4 class="d-none d-lg-block">Minister of religion visa</h4>
        </a>
      </li>
      <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="300">
        <a class="nav-link" data-bs-toggle="tab" href="#tab-8">
          <i class="ri-store-line"></i>
          <h4 class="d-none d-lg-block">Volunteer visa</h4>
        </a>
      </li>
    </ul>

    <div class="tab-content" data-aos="fade-up">
      <div class="tab-pane active show" id="tab-5">
        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
            <h3>Employment (researcher) visa</h3>

              <p>You can apply for an Employment (Scientific Researcher) Visa if you are seeking to come to Ireland for the purposes of carrying out research under a “hosting agreement”.</p>
              <p>You are advised to familiarize yourself with the immigration arrangements applying to scientific researchers seeking to come to Ireland under a hosting agreement  before you make your visa application.</p>
              <p>If your immediate family members intend to join you in Ireland, and are also visa required, each member must make a separate application for a visa.
You can apply for an Employment (Scientific Researcher) visa up to 3 months before your date of travel to Ireland.
If you are visiting another State prior to travelling to Ireland, you must have the relevant visa for that State in your passport before applying for an Irish visa.
</p>
          <ul>Supporting documentation
            <li><i class="ri-check-double-line"></i>The documents below are important because they provide information about your personal circumstances in the country from which you are applying.</li>
            <li><i class="ri-check-double-line"></i>The onus is on you to satisfy the Visa Officer that a visa should be granted for the purpose sought.</li>
            <li><i class="ri-check-double-line"></i>The submission of any or all of these documents does not guarantee that your application will be successful.</li>
            <li><i class="ri-check-double-line"></i>Original documents must be provided.</li>
            <li><i class="ri-check-double-line"></i>If you submit a document that is not in English/Irish, it must be accompanied by a full translation. Each translated document must contain:</li>
            <ol>
              <li>confirmation from the translator that it is an accurate translation of the original document</li>
              <li>the date of the translation,</li>
              <li>the translator’s full name and signature</li>
              <li>the translator’s contact details.</li>
            </ol>
            <!-- <li><i class="ri-check-double-line"></i>It is best not to buy travel tickets until you receive an official answer from the Irish consulate.</li> -->

          </ul>
          <p>All letters submitted from a business, company or other organization should be on official headed paper and give full contact details so that they can be verified. These must include a full postal address, name of contact, position in the organization, telephone number (landline), website, and email address (email addresses such as Yahoo or Hotmail are not accepted).
</p>
            <p>The Visa Officer considers each application on its merits and may request additional information or documentation.
</p>

          </div>
          <div class="col-lg-6 order-1 order-lg-2 text-center">
            <img src="{% static 'assets/img/researcher.jpg' %}" alt="" class="img-fluid">
          </div>
        </div>
      </div>

      <div class="tab-pane" id="tab-6">
        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
            <h3>Employment (Van der Elst) visa</h3>


            <ol>You can apply for this visa if you are:

              <li>lawfully resident in the EU Member State in which the employer is established</li>
              <li>lawfully employed by the employer in the sending EU Member State</li>
              <li>on the payroll of the employer in the sending EU Member State</li>
              <li>on the payroll of the employer in the sending EU Member State</li>
              <li>coming to Ireland on a temporary/short term contract, up to a maximum of 12 consecutive months.</li>
            </ol>
              <p>You are advised to familiarize yourself with <a href="http://www.inis.gov.ie/en/INIS/Pages/WP13000007">immigration arrangements applying to persons seeking to avail of the Van der Elst process</a> before you make your visa application.
You can apply for an Employment (Van der Elst) visa up to 3 months before your date of travel to Ireland.
</p>
              <p>If you are visiting another State prior to travelling to Ireland, you must have the relevant visa for that State in your passport before applying for an Irish visa.</p>

              <ul>
                Supporting documentation
                <li>The documents below are important because they provide information about your personal circumstances in the country from which you are applying.</li>
                <li>The onus is on you to satisfy the Visa Officer that a visa should be granted for the purpose sought.</li>
                <li>The submission of any or all of these documents does not guarantee that your application will be successful.</li>
                <li>Original documents must be provided.</li>
                <li>If you submit a document that is not in English/Irish, it must be accompanied by a full translation. Each translated document must contain:</li>
                <ol>
                  <li>confirmation from the translator that it is an accurate translation of the original document</li>
                  <li>the date of the translation</li>
                  <li>the translator’s full name and signature, and</li>
                  <li>the translator’s contact details.</li>
                </ol>
              </ul>
              <p>All letters submitted from a business, company or other organization should be on official headed paper and give full contact details so that they can be verified. These must include a full postal address, name of contact, position in the organization, telephone number (landline), website, and email address (email addresses such as Yahoo or Hotmail are not accepted).
</p>
                <p>The Visa Officer considers each application on its merits and may request additional information or documentation.
</p>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 text-center">
            <img src="{% static 'assets/img/vander elst.jpg' %}" alt="" class="img-fluid">
          </div>
        </div>
      </div>

      <div class="tab-pane" id="tab-7">
        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
            <h3>Minister of religion visa</h3>

            <p>The immigration permission and application system described on this page is based on the Immigration policy for Ministers of Religion published 30 April, 2018. The Department of Justice reserves the right to amend or suspend this policy at any time. The information below is intended as a guide only, the policy document outlines all of the relevant criteria for eligibility for this programme.</p>
            <p>This Scheme applies to both Visa Required and Non Visa Required nationals. You must apply before you travel to Ireland. Do not apply under this Scheme if your intended stay is for less than 3 months.</p>
            <p>Permission to remain in Ireland as a Minister of Religion, allows qualifying religious personnel to remain in the State for up to three years, where there is a demonstrated need for their services and subject to compliance with all other immigration requirements that apply in individual cases.</p>


            <ul>Permission to work as a Minister of Religion allows you to work as a Minister of Religion with an eligible religious body or faith community subject to the following conditions:
              <li><i class="ri-check-double-line"></i>Your role must match the criteria for Minister of Religion described below
</li>
              <li><i class="ri-check-double-line"></i>The religious body or faith community must match the criteria for eligibility described below</li>
              <li><i class="ri-check-double-line"></i>Stay in Ireland for 1 year initially, up to a maximum of 3 years</li>
              <li><i class="ri-check-double-line"></i>Apply for one (possible) extension of 3 years after the normal 3 years has ended</li>
              <li><i class="ri-check-double-line"></i>Do voluntary work, as long as it does not interfere with your primary role as a minister</li>
              <li><i class="ri-check-double-line"></i>Study, as long as it does not interfere with your primary role as Minister</li>
              <li><i class="ri-check-double-line"></i>Bring your family with you (spouse/partner and children under 18 only). The permission granted to the spouse/partner/children under this Programme will be dependent on the continued residence status of the Minister of Religion. In cases where the Minister of Religion leaves the country, the accompanying spouse/partner/children, if applicable, must also depart</li>
              <li><i class="ri-check-double-line"></i>Travel abroad for short periods (e.g. holidays and attending conferences) and return to Ireland.</li>

            </ul>

              <ul>With this permission you cannot:
                <li><i class="ri-check-double-line"></i>Do any other paid work except the Minister of Religion role</li>
                <li><i class="ri-check-double-line"></i>Bring other family members with you e.g. elderly dependents, children over 18</li>
                <li><i class="ri-check-double-line"></i>Change to a different immigration permission during your stay</li>
                <li><i class="ri-check-double-line"></i>Change the religious body or faith community you work for while you are in Ireland</li>
                <li><i class="ri-check-double-line"></i>Apply for permission to remain as a volunteer after your permission to work as a Minister of Religion expires</li>
                <li><i class="ri-check-double-line"></i>Rely on public services or claim any state benefits for you (or your family if applicable) e.g. health services</li>

                <!-- <li><i class="ri-check-double-line"></i>Travel abroad for short periods (e.g. holidays and attending conferences) and return to Ireland.</li> -->


            </ul>

            <ul><i class="ri-check-double-line"></i>Am I eligible to apply?
              <li><i class="ri-check-double-line"></i>Are a non-EU/EEA and non-Swiss citizen</li>
              <li><i class="ri-check-double-line"></i>Are a qualified, ordained or professed member of a religious body or faith community that matches the criteria below</li>
              <li><i class="ri-check-double-line"></i>Have been offered a role as a Minister of Religion by the same body or community of which you are a qualified, ordained or professed member</li>
              <li><i class="ri-check-double-line"></i>You, and your family (if applicable), will be fully supported financially by your sponsoring religious body or faith community for the entire duration of your stay in Ireland.</li>
              <li><i class="ri-check-double-line"></i>Have 3 years verifiable experience as a Minister of Religion (evidence will have to be submitted)</li>
              <li><i class="ri-check-double-line"></i>You can provide a police clearance certificate from your country of residence (not more than 3 months old)</li>
              <li><i class="ri-check-double-line"></i>Have been vetted by An Garda Síochána to work with children and vulnerable adults in Ireland (evidence must be submitted)
</li>
<li><i class="ri-check-double-line"></i>Have medical insurance from a company authorized by the Health Insurance Authority of Ireland to cover you and your family (if applicable) in place on your arrival in the State for the entire duration of your stay in Ireland.
</li>


</ul>

            <p>
              However, they have to meet the following criteria:
<li> Hold a GNIB card – a certificate of registration you receive from the Immigration Office on your arrival in Ireland</li>
<li>Be enrolled in a study programme that is included on the government's list of visa eligible courses</li>

</p>


<ul><i class="ri-check-double-line"></i>What type of work can I do?
  <li><i class="ri-check-double-line"></i>Conduct spiritual worship and or ceremonies to an established congregation in Ireland</li>
  <li><i class="ri-check-double-line"></i>Give pastoral care to members of an established congregation through preaching</li>
  <li><i class="ri-check-double-line"></i>Conduct classes based on a religious ethos, supervising prayer meetings etc.</li>
  <li><i class="ri-check-double-line"></i>Provide spiritual leadership</li>
  <li><i class="ri-check-double-line"></i>Minister to the spiritual needs of an established congregation</li>
  <li><i class="ri-check-double-line"></i>Conduct pastoral visitation</li>
  <li><i class="ri-check-double-line"></i>Provide senior administration support of a substantially full-time nature to a religious institution/order/church

</li>
<li><i class="ri-check-double-line"></i>Be a member of a religious community whose members take public vows of poverty, chastity and obedience

</li>
<p>If your intention is to join a “closed” religious order in Ireland (of which you are already a member) please apply for permission based on the last point above.
</p>

</ul>

<ul><i class="ri-check-double-line"></i>Who can I work for?
  <li><i class="ri-check-double-line"></i>You must be invited to Ireland by an eligible religious body or faith community.</li>
  <li><i class="ri-check-double-line"></i>To be eligible, the religious body or faith community must:
   <ol>
     <li>Be already established in Ireland</li>
     <li>Have an active membership or congregation in Ireland, including full time serving Ministers of Religion
</li>
<li>Have dedicated premises in Ireland serving the religious body or faith community</li>
   </ol>
  </li>
  <li><i class="ri-check-double-line"></i>An eligible religious body or faith community that invites you to Ireland is called your ‘sponsor’. A sponsor must be a body, it cannot be an individual. Your sponsor has important obligations and is responsible for you in several ways. Before you apply for a visa or preclearance, your sponsor must send you a sponsorship letter and supporting documents for your application.</li>
  <li><i class="ri-check-double-line"></i>Sponsorship also means that the sponsor cooperates with State authorities to ensure that the Minister of Religion leaves the State on the expiry of his or her permission, or if directed to do so by those authorities. Failure to cooperate with State authorities in this regard will impact on future sponsorship by that religious body or faith community.
</li>
  <li><i class="ri-check-double-line"></i>You will not be granted permission if you do not have sponsorship from an eligible religious body or faith community or if you are sponsored by an organization that does not match the criteria above.</li>
</ul>

<ul><i class="ri-check-double-line"></i>What supporting documents are required?
  <li><i class="ri-check-double-line"></i>Before you gather your supporting documents you must read the important information on documents available below.</li>
  <li><i class="ri-check-double-line"></i>This will give you guidelines on supporting documents, including information on translations and rules.</li>
  <li><i class="ri-check-double-line"></i>If you find that you cannot submit a document requested below, you should provide an explanation as to why you cannot provide it, and any other documents for consideration by the Visa Officer.</li>
</ul>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 text-center">
            <img src="{% static 'assets/img/minister of religion.jpg' %}" alt="" class="img-fluid">
          </div>
        </div>
      </div>
      <div class="tab-pane" id="tab-8">
        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
            <h3>Volunteer visa</h3>
            <p>
        The immigration permission and application system described on this page is based on the Immigration policy for Volunteering in Ireland published 30 April, 2018. The Department of Justice reserves the right to amend or suspend this policy at any time. The information below is intended as a guide only, the policy document Volunteering in Ireland outlines all of the relevant criteria for eligibility for this programme.
            </p>
<p>This Scheme applies to both Visa Required and Non Visa Required nationals. You must apply before you travel to Ireland. Do not apply under this Scheme if your intended stay in Ireland is for less than 3 months.</p>

            <ul>What does this Scheme allow me to do?

              <li><i class="ri-check-double-line"></i>Permission to remain in Ireland as a volunteer allows you to work in Ireland in a volunteering role with an eligible organization for up to 2 years (with an option to extend for a third year), subject to the conditions below.</li>
              <li><i class="ri-check-double-line"></i>The initial permitted period of residence under this Scheme is 1 year (12 months) and the maximum is 2 years (24 months). You may, for example, spend 24 consecutive months in the State or break the period into two separate lots of 12 months each, separated by time.</li>
              <!-- <li><i class="ri-check-double-line"></i>documentation regarding your entry into Ireland (e.g. evidence of funds, or confirmation of enrolment on a recognized course)</li> -->
            </ul>


                        <ul>Permission to be a volunteer in Ireland allows you to:


                          <li><i class="ri-check-double-line"></i>Work in a volunteering role with an eligible organization</li>
                          <li><i class="ri-check-double-line"></i>Your role must match the criteria for volunteering described below</li>
                          <li><i class="ri-check-double-line"></i>The organization must match the criteria for eligibility described below</li>
                          <li><i class="ri-check-double-line"></i>Stay in Ireland for 1 year initially, up to of 2 years (with an option to apply for an extension for a third year)</li>
                          <li><i class="ri-check-double-line"></i>Apply to change the organization you volunteer for once in any 12 month period</li>
                          <li><i class="ri-check-double-line"></i>Travel abroad for short periods (e.g. holidays and attending conferences) and return to Ireland.</li>


                        </ul>

                        <ul>With this permission you cannot:


                          <li><i class="ri-check-double-line"></i>Do paid work of any kind</li>
                          <li><i class="ri-check-double-line"></i>Bring any family members with you to Ireland</li>
                          <li><i class="ri-check-double-line"></i>Apply to change your immigration status while in the State</li>
                          <li><i class="ri-check-double-line"></i>Change sponsors more than once in any 12-month permission period while in the State under this Scheme</li>
                          <li><i class="ri-check-double-line"></i>Rely on public services or claim any state benefits e.g. health services, education</li>
                          <li><i class="ri-check-double-line"></i>Spend more than two years on aggregate volunteering in the State.</li>


                        </ul>
                        <ul>You are eligible to apply under this Scheme if you:


                          <li><i class="ri-check-double-line"></i>Are aged 18 or older</li>
                          <li><i class="ri-check-double-line"></i>Are a non EU/EEA and non-Swiss citizen</li>
                          <li><i class="ri-check-double-line"></i>Have been offered volunteering work by an eligible organization</li>
                          <li><i class="ri-check-double-line"></i>Can be fully supported financially for the entire duration of your stay by the organization that is inviting you to Ireland</li>
                          <li><i class="ri-check-double-line"></i>Are qualified and able to do the activities expected of you and Are of good character and good standing, e.g. you can provide a police clearance certificate or equivalent not more than 3 months old
</li>
                          <li><i class="ri-check-double-line"></i>Are cleared to work with children and vulnerable adults (if necessary for your role), e.g. you can provide a child clearance certificate from An Garda Síochána (this can be obtained by your sponsor prior to your arrival in Ireland).</li>
                          <li><i class="ri-check-double-line"></i>Have medical insurance from a company authorized by the Health Insurance Authority of Ireland to cover you for the duration of your stay</li>


                        </ul>

                        <ul>Who can I work for?


                          <li><i class="ri-check-double-line"></i>A non-governmental, not-for-profit, voluntary or charitable body that is already established and active in the State and listed on the Charities Regulator’s Public Register of Charities or</li>
                          <li><i class="ri-check-double-line"></i>A sports organization that is already established and active in the State and whose national governing body is recognized by Sport Ireland</li>
                          <li><i class="ri-check-double-line"></i>to cooperate with the immigration authorities to ensure that the volunteer leaves the State on the expiry of his or her permission, or</li>

                          <li><i class="ri-check-double-line"></i>if directed to do so by immigration authorities, by withdrawing the sponsorship.
</li>
                    <p>The eligible organization that invites you to Ireland is your ‘sponsor’. Your sponsor has important obligations and is responsible for you in several ways. Sponsorship also means that the eligible organization undertakes
</p>
              <p>Failure to cooperate with immigration authorities in this regard will impact on future sponsorship by that eligible organization.
Before you apply, your sponsor must send you a sponsorship letter and supporting documents. You must submit these documents as part of your application. You will not be granted permission if you do not have sponsorship from an eligible organization, or if you are sponsored by an organization that does not match the criteria above.
</p>
                        </ul>
      <h5>What supporting documents are required?</h5>
        <p>Before you gather your supporting documents, you must read the important information on documents available below.
This will give you guidelines on supporting documents, including information on translations and rules.
If you find that you cannot submit a document requested below, you should provide an explanation as to why you cannot provide it, and any other documents for consideration by the Visa Officer.
</p>

<h5>Important information on supporting documents for all visa/ preclearance applications. </h5>
<p>Do not include false or misleading information or documents on the application form or in your application submission. If you do, your application will be refused. In some circumstances, you may not be allowed to appeal the decision and may be prevented from applying for an Irish visa/preclearance for 5 years.
Documents must be original unless otherwise stated and the Visa /Preclearance Officer reserves the right to request additional/original documents where it is deemed necessary.
</p>

<p>Supplying any or all of the documents or information requested does not guarantee the grant of a visa/preclearance. It is your responsibility to satisfy us that any visa/ preclearance should be granted. There is no right to a visa/preclearance.
Where ‘evidence’ is stated, we require documentary evidence.
Document rules are outlined below and documents submitted must adhere to these rules or the application may be refused.
</p>

<h5>Information on Visa fee exemptions</h5>
<ul>
  Nationalities exempt from visa fees
  <li>Bosnia</li>
  <li>Cote d’Ivoire (Ivory Coast)</li>
  <li>Ecuador</li>
  <li>Indonesia</li>
  <li>Jamaica</li>
  <li>Kosovo
</li>
<li>Kyrgyzstan</li>
<li>Montenegro</li>
<li>Morocco</li>
<li>North Macedonia</li>
<li>Peru</li>
<li>Serbia</li>
<li>Sri Lanka</li>
<li>Tunisia
</li>
<li>Uganda</li>
<li>Zambia</li>

</ul>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 text-center">
            <img src="{% static 'assets/img/volunteer.jpg' %}" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </div>

<br>
<h4>Visa for non-EU/EEA & non-Swiss citizen travelling with EU/EEA/Swiss family</h4>
<ul>
  If you are a non-EEA national:
<li> who does not hold a document called “Residence card of a family member of a Union citizen” as referred to in Articles 5(2) and 10(1) of Directive 2004/38/EC on the rights of citizens of the Union and their family members to move and reside freely within the territory of Member States, and</li>
<li>wishes to accompany or join an EU/EEA/Swiss citizen family member who is moving to or residing in Ireland pursuant to the Directive 2004/38/EC,</li>
<li>You can apply for a single journey short-stay C visa which will permit you to enter and reside in the State for up to 3 months.</li>
<li>In the event that you wish to remain in the State for more than 3 months as a family member of an EU citizen exercising their free movement rights, you must apply (when in the State) for a Residence Card of a family member of a Union citizen.</li>

</ul>


  </div>
</section><!-- End Features Section -->

</main>
{% endblock %}
