{% extends 'base.html' %}
{% load static %}
{% block body_block %}

<main id="main">

<br>
<!-- ======= Features Section ======= -->
<section id="features" class="features">
  <div class="container">

    <div class="section-title">
      <p>Student visa</p>
      <i>The large investments Ireland has made in its higher education system is one of the reasons why the country has welcomed so many international students over the last years. Irish universities are among the best academic institutions in an increasing number of academic subjects.</i>
    </div>

    <ul class="nav nav-tabs row d-flex">
      <li class="nav-item col-4" data-aos="zoom-in">
        <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">
          <i class="ri-gps-line"></i>
          <h4 class="d-none d-lg-block">Advantage of Ireland Education System</h4>
        </a>
      </li>
      <li class="nav-item col-4" data-aos="zoom-in" data-aos-delay="100">
        <a class="nav-link" data-bs-toggle="tab" href="#tab-2">
          <i class="ri-body-scan-line"></i>
          <h4 class="d-none d-lg-block">Most popular academic disciplines in Ireland</h4>
        </a>
      </li>
      <li class="nav-item col-4" data-aos="zoom-in" data-aos-delay="200">
        <a class="nav-link" data-bs-toggle="tab" href="#tab-3">
          <i class="ri-sun-line"></i>
          <h4 class="d-none d-lg-block">best universities in Ireland</h4>
        </a>
      </li>
      <!-- <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="300">
        <a class="nav-link" data-bs-toggle="tab" href="#tab-4">
          <i class="ri-store-line"></i>
          <h4 class="d-none d-lg-block">Submission of false/misleading information/documentation</h4>
        </a>
      </li> -->
    </ul>

    <div class="tab-content" data-aos="fade-up">
      <div class="tab-pane active show" id="tab-1">
        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
            <h3>Advantage of Ireland Education System</h3>

            <ul>Here are some of the advantages that make Ireland so appealing to internationals:
              <li><i class="ri-check-double-line"></i> the country is part of the European Union (EU)</li>
              <li><i class="ri-check-double-line"></i> education institutions follow the Bologna system</li>
              <li><i class="ri-check-double-line"></i>the language of instruction used in universities is English </li>
              <li><i class="ri-check-double-line"></i>students benefit from smaller tuition fees and living costs compared to the UK</li>
              <li><i class="ri-check-double-line"></i>Ireland is known for its friendly people and safe environment</li>
              <li><i class="ri-check-double-line"></i>Ireland was listed among the top countries where students are very satisfied with their study abroad experience </li>
            </ul>
            <p>If you've decided to study abroad in Ireland and come from an EU/EEA country or Switzerland, good news! You won’t need an Irish student visa. If you're not from the EU/EEA, follow the next steps and prepare to apply for your student visa.</p>
<p></p>
          <i style="color:green;">Apply to an Irish university and get your acceptance letter</i>
<p></p>
          <p>If you’re still not sure where you want to study in Ireland, you will have to decide before you can start your student visa application process. After being accepted at an Irish university, you’ll get an acceptance letter required for the visa application.</p>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 text-center">
            <img src="{% static 'assets/img/ireland1.jpeg' %}" alt="" class="img-fluid">
          </div>
        </div>
      </div>
      <div class="tab-pane" id="tab-2">
        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
            <h3>Most popular academic disciplines in Ireland</h3>

            <ul>
              <li><i class="ri-check-double-line"></i> <a href="https://www.mastersportal.com/search/masters-degrees/computer-science-it-in-ireland/?q=ci-14%7Cdi-24%7Clv-master">Masters in Computer Science in Ireland</a>  </li>
              <li><i class="ri-check-double-line"></i><a href="https://www.mastersportal.com/search/masters-degrees/education-in-ireland/?q=ci-14%7Cdi-8%7Clv-master"> Masters in Education in Ireland</a></li>
              <li><i class="ri-check-double-line"></i><a href="https://www.mastersportal.com/search/masters-degrees/sociology-in-ireland/?q=ci-14%7Cdi-80%7Clv-master">Masters in Sociology in Ireland</a>   </li>
              <li><i class="ri-check-double-line"></i><a href="https://www.mastersportal.com/search/masters-degrees/political-science-in-ireland/?q=ci-14%7Cdi-316%7Clv-master">Masters in Political Science in Ireland  </a> </li>
              <li><i class="ri-check-double-line"></i><a href="https://www.mastersportal.com/search/masters-degrees/management-organisation-leadership-in-ireland/?q=ci-14%7Cdi-89%7Clv-master"> Masters in Management in Ireland </a></li>
              <!-- <li><i class="ri-check-double-line"></i>any other issue which the visa officer deems relevant. </li> -->
            </ul>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 text-center">
            <img src="assets/img/features-2.png" alt="" class="img-fluid">
          </div>
        </div>
      </div>
      <div class="tab-pane" id="tab-3">
        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
            <h3>Best universities in Ireland</h3>
            <ul>
              <li><i class="ri-check-double-line"></i> <a href="https://www.mastersportal.com/universities/595/university-college-dublin.html">University College Dublin</a>  </li>
              <li><i class="ri-check-double-line"></i><a href="https://www.mastersportal.com/universities/219/university-college-cork.html"> University College Cork</a></li>
              <li><i class="ri-check-double-line"></i><a href="https://www.mastersportal.com/universities/780/dublin-city-university.html">Dublin City University</a>   </li>
              <li><i class="ri-check-double-line"></i><a href="https://www.mastersportal.com/universities/212/university-of-limerick.html">University of Limerick  </a> </li>
              <li><i class="ri-check-double-line"></i><a href="https://www.mastersportal.com/universities/127/dublin-institute-of-technology.html"> Dublin Institute of Technology </a></li>
              <!-- <li><i class="ri-check-double-line"></i>any other issue which the visa officer deems relevant. </li> -->
            </ul>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 text-center">
            <img src="assets/img/features-3.png" alt="" class="img-fluid">
          </div>
        </div>
      </div>
      <!-- <div class="tab-pane" id="tab-4">
        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
            <h3>Omnis fugiat ea explicabo sunt dolorum asperiores sequi inventore rerum</h3>
            <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
              velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
              culpa qui officia deserunt mollit anim id est laborum
            </p>
            <p class="font-italic">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
              <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
              <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
            </ul>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 text-center">
            <img src="assets/img/features-4.png" alt="" class="img-fluid">
          </div>
        </div>
      </div> -->
    </div>

    <ul class="nav nav-tabs row d-flex">
      <li class="nav-item col-4" data-aos="zoom-in">
        <a class="nav-link active show" data-bs-toggle="tab" href="#tab-4">
          <i class="ri-gps-line"></i>
          <h4 class="d-none d-lg-block">About this visa</h4>
        </a>
      </li>
      <li class="nav-item col-4" data-aos="zoom-in" data-aos-delay="100">
        <a class="nav-link" data-bs-toggle="tab" href="#tab-5">
          <i class="ri-body-scan-line"></i>
          <h4 class="d-none d-lg-block">Who needs to apply</h4>
        </a>
      </li>
      <li class="nav-item col-4" data-aos="zoom-in" data-aos-delay="200">
        <a class="nav-link" data-bs-toggle="tab" href="#tab-6">
          <i class="ri-sun-line"></i>
          <h4 class="d-none d-lg-block">Special visa programmes</h4>
        </a>
      </li>
      <!-- <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="300">
        <a class="nav-link" data-bs-toggle="tab" href="#tab-4">
          <i class="ri-store-line"></i>
          <h4 class="d-none d-lg-block">Submission of false/misleading information/documentation</h4>
        </a>
      </li> -->
    </ul>

    <div class="tab-content" data-aos="fade-up">
      <div class="tab-pane active show" id="tab-4">
        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
            <h3> About this visa</h3>

            <p>
              A short stay 'C' visit (tourist) visa allows you to travel to Ireland for up to 90 days for:
              <ul>
                <li>Tourism</li>
                <li>Study, eg a short term English language course</li>
              </ul>
            </p>
            <p>
          This visa does not allow you to:
          <li><i class="ri-check-double-line"></i>Do work (paid or unpaid) of any kind</li>
          <li><i class="ri-check-double-line"></i>Use any publicly funded services, eg a public hospital</li>
            </p>
            <p>
            Note: A visa allows you to travel to Ireland only. It does not give you permission to enter the country or to stay here. An immigration officer at border control can refuse you entry even if you have a visa.

            </p>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 text-center">
            <img src="{% static 'assets/img/ireland1.jpeg' %}" alt="" class="img-fluid">
          </div>
        </div>
      </div>

      <div class="tab-pane" id="tab-5">
        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
            <h3>Who needs to apply</h3>

            <p class="font-italic">
              In assessing an application, a visa officer may look at the following issues:
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> You need a visa to come to Ireland if you travel using a passport issued by a country that is visa required or using a travel document issued by certain countries.</li>
              <li><i class="ri-check-double-line"></i>Each traveler must apply for a separate visa. There are no family visas.</li>
              <li><i class="ri-check-double-line"></i>A tourist visa application for a young person (aged under 18) should be made by their parent or legal guardian. </li>
              <li><i class="ri-check-double-line"></i>You should not purchase travel tickets before you receive a decision on your visa application. </li>
              <!-- <li><i class="ri-check-double-line"></i>your immigration history in relation to Ireland, the UK, the Schengen Zone and other countries; and </li> -->
              <!-- <li><i class="ri-check-double-line"></i>any other issue which the visa officer deems relevant. </li> -->
            </ul>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 text-center">
            <img src="assets/img/features-2.png" alt="" class="img-fluid">
          </div>
        </div>
      </div>

      <div class="tab-pane" id="tab-6">
        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
            <h3> Special visa programmes </h3>
            <p> <b>Travel between Ireland & UK for certain Chinese & Indian nationals</b>
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i>You may be able to visit Ireland and the United Kingdom using a single Irish or UK visa if you travel using a Chinese or Indian passport.</li>
              <li><i class="ri-check-double-line"></i>The Minister for Justice and Equality, Frances Fitzgerald, T.D., announced on 16th June, 2014 that the British Irish Visa Scheme between Ireland and the United Kingdom will commence this Autumn starting with China and India.</li>
              <li><i class="ri-check-double-line"></i>The British Irish Visa Scheme allow for travel to and around the Common Travel Area (CTA) on a single visa. As matters stand, many overseas tourists and business visitors who wish to visit both Ireland and the UK, including Northern Ireland, need separate Irish and UK visas.</li>

              <li><i class="ri-check-double-line"></i> From the Autumn the objective is that visitors from China and India will be able to travel freely within the Common Travel Area using either an Irish or UK visa. This will mean that tourists, business visitors etc. will be able, for the first time, to visit both Ireland and the UK, including Northern Ireland, on a single visa.</li>
            </ul>

            <p> <b>Travel to Ireland on a school group trip from EU/EEA or Switzerland</b>
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i>You may not need an Irish visa if you are a school student who is legally resident in another EU/EEA country or Switzerland and you want to come here as part of a school group trip.</li>
              <li><i class="ri-check-double-line"></i>If you are a non-EU or EEA school student who is resident in an EU or EEA Member State and wish to travel to Ireland as part of a group school excursion you may be exempt from the requirement to be in possession of a visa in order to travel to Ireland.</li>
              <li><i class="ri-check-double-line"></i>This exemption arises from the implementation of the European Council Decision (94/795/JHA) on a joint action adopted by the Council on the basis of Article K.3(2)(b) of the Treaty on European Union concerning travel facilities for school pupils from Non-EU Member Countries resident in a Member State. Please note that an upper age limit does not apply, provided the pupil is part of a school group.</li>

              <li><i class="ri-check-double-line"></i> In order to avail of this exemption an application form must be completed by the head of your school and presented to the Irish Immigration authorities upon arrival.</li>
            </ul>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 text-center">
            <img src="assets/img/features-3.png" alt="" class="img-fluid">
          </div>
        </div>
      </div>
      <!-- <div class="tab-pane" id="tab-4">
        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
            <h3>Omnis fugiat ea explicabo sunt dolorum asperiores sequi inventore rerum</h3>
            <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
              velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
              culpa qui officia deserunt mollit anim id est laborum
            </p>
            <p class="font-italic">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
              <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
              <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
            </ul>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 text-center">
            <img src="assets/img/features-4.png" alt="" class="img-fluid">
          </div>
        </div>
      </div> -->
    </div>




  </div>
</section><!-- End Features Section -->

<!-- ======= F.A.Q Section ======= -->
<section id="faq" class="faq">
  <div class="container">

    <div class="section-title" data-aos="zoom-out">
      <h2></h2>
      <p>Other Short Visa types in Ireland</p>
    </div>

    <ul class="faq-list">

      <li>
        <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">Business visa <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
        <div id="faq1" class="collapse" data-bs-parent=".faq-list">
          <p>
          A short stay 'C' business visa allows you to travel to Ireland for up to 90 days for activities related to your job, including to:
                <ul>
                  <li><i class="ri-check-double-line"></i>Attend meetings</li>
                  <li><i class="ri-check-double-line"></i>Negotiate or sign agreements or contracts</li>
                  <li><i class="ri-check-double-line"></i>Work for 14 days or less (based on the rules below)</li>
                </ul>
          </p>

          <p>
        This visa does not allow you to:
                <ul>
                  <li><i class="ri-check-double-line"></i>Attend meetings</li>
                  <li><i class="ri-check-double-line"></i>Work in any way (paid or unpaid) for 15 days or longer</li>
                  <li><i class="ri-check-double-line"></i>Rely on Irish public services, eg public hospitals</li>
                </ul>
          </p>

        </div>
      </li>

      <li>
        <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">Family or friend’s visa <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
        <div id="faq2" class="collapse" data-bs-parent=".faq-list">
          <p>
            A short stay family/friend visa allows you to travel to Ireland to visit family or friends for up to 90 days, subject to the conditions. All short stay visas are also called 'C' visas.

          </p>
        </div>
      </li>

      <li>
        <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">Conference or event visa<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
        <div id="faq3" class="collapse" data-bs-parent=".faq-list">
          <p>
            A short stay conference/event visa allows you to travel to Ireland for up to 90 days to attend a conference, symposium or other event. All short stay visas are also called 'C' visas.

          </p>
        </div>
      </li>

      <li>
        <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">Exam visa <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
        <div id="faq4" class="collapse" data-bs-parent=".faq-list">
          <p>
          A short stay exam visa allows you to travel to Ireland for up to 90 days to sit an exam that is necessary for your current employment or course of study. All short stay visas are also called 'C' visas.
          </p>
        </div>
      </li>

      <li>
        <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">Join ship visa <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
        <div id="faq5" class="collapse" data-bs-parent=".faq-list">
          <p>
            A short stay join ship visa allows you to come to Ireland as a seafarer to join a ship that is departing from this country. All short stay visas are also called 'C' visas.

          </p>
        </div>
      </li>

      <li>
        <div data-bs-toggle="collapse" href="#faq6" class="collapsed question">Medical treatment visa<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
        <div id="faq6" class="collapse" data-bs-parent=".faq-list">
        <p>A short stay medical treatment visa allows you to come to Ireland for up to 90 days for a medical procedure in a private hospital. All short stay visas are also called 'C' visas.</p>
        </div>
      </li>

      <li>
        <div data-bs-toggle="collapse" href="#faq7" class="collapsed question">Training visa<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
        <div id="faq7" class="collapse" data-bs-parent=".faq-list">

            <p>A short stay training visa allows you to come to Ireland to attend a training course for up to 90 days. All short stay visas are called 'C' visas.</p>
      </li>

      <li>
        <div data-bs-toggle="collapse" href="#faq8" class="collapsed question">Visa for non-EU/EEA & non-Swiss citizen travelling with EU/EEA/Swiss family<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
        <div id="faq8" class="collapse" data-bs-parent=".faq-list">
            <ul>
              If you are a non-EEA national:
              <li><i class="ri-check-double-line"></i>  who does not hold a document called “Residence card of a family member of a Union citizen” as referred to in Articles 5(2) and 10(1) of Directive 2004/38/EC on the rights of citizens of the Union and their family members to move and reside freely within the territory of Member States, and</li>
              <li><i class="ri-check-double-line"></i>wishes to accompany or join an EU/EEA/Swiss citizen family member who is moving to or residing in Ireland pursuant to the Directive 2004/38/EC,</li>
              <li><i class="ri-check-double-line"></i>You can apply for a single journey short-stay C visa which will permit you to enter and reside in the State for up to 3 months.</li>
              <li><i class="ri-check-double-line"></i>In the event that you wish to remain in the State for more than 3 months as a family member of an EU citizen exercising their free movement rights, you must apply (when in the State) for a Residence Card of a family member of a Union citizen.</li>
            </ul>
      </li>

      <li>
        <div data-bs-toggle="collapse" href="#faq9" class="collapsed question">Other visa types <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
        <div id="faq9" class="collapse" data-bs-parent=".faq-list">

          <ul>
            <li><i class="ri-check-double-line"></i>Employment (Atypical Working Scheme) visa</li>
            <li><i class="ri-check-double-line"></i>Marriage Visa</li>
            <li><i class="ri-check-double-line"></i>Internship (paid)</li>
            <li><i class="ri-check-double-line"></i>Internship (unpaid)</li>
          </ul>
      </li>

    </ul>

  </div>
</section><!-- End F.A.Q Section -->
</main>
{% endblock %}
