{% extends 'base.html' %}
{% load static %}
{% block body_block %}

<main id="main">

<br>
<!-- ======= Features Section ======= -->
<section id="features" class="features">
  <div class="container">

    <div class="section-title">
      <p>Student visa</p>
      <i>The large investments Ireland has made in its higher education system is one of the reasons why the country has welcomed so many international students over the last years. Irish universities are among the best academic institutions in an increasing number of academic subjects.</i>
    </div>

    <ul class="nav nav-tabs row d-flex">
      <li class="nav-item col-3" data-aos="zoom-in">
        <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">
          <i class="ri-gps-line"></i>
          <h4 class="d-none d-lg-block">Advantage of Ireland Education System</h4>
        </a>
      </li>
      <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="100">
        <a class="nav-link" data-bs-toggle="tab" href="#tab-2">
          <i class="ri-body-scan-line"></i>
          <h4 class="d-none d-lg-block">Popular academic disciplines in Ireland</h4>
        </a>
      </li>
      <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="200">
        <a class="nav-link" data-bs-toggle="tab" href="#tab-3">
          <i class="ri-sun-line"></i>
          <h4 class="d-none d-lg-block">Best universities in Ireland</h4>
        </a>
      </li>
      <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="300">
        <a class="nav-link" data-bs-toggle="tab" href="#tab-4">
          <i class="ri-store-line"></i>
          <h4 class="d-none d-lg-block">Student Visa Types</h4>
        </a>
      </li>
    </ul>

    <div class="tab-content" data-aos="fade-up">
      <div class="tab-pane active show" id="tab-1">
        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
            <h3>Advantage of Ireland Education System</h3>

            <ul>Here are some of the advantages that make Ireland so appealing to internationals:
              <li><i class="ri-check-double-line"></i> the country is part of the European Union (EU)</li>
              <li><i class="ri-check-double-line"></i> education institutions follow the Bologna system</li>
              <li><i class="ri-check-double-line"></i>the language of instruction used in universities is English </li>
              <li><i class="ri-check-double-line"></i>students benefit from smaller tuition fees and living costs compared to the UK</li>
              <li><i class="ri-check-double-line"></i>Ireland is known for its friendly people and safe environment</li>
              <li><i class="ri-check-double-line"></i>Ireland was listed among the top countries where students are very satisfied with their study abroad experience </li>
            </ul>
            <p>If you've decided to study abroad in Ireland and come from an EU/EEA country or Switzerland, good news! You won’t need an Irish student visa. If you're not from the EU/EEA, follow the next steps and prepare to apply for your student visa.</p>
<p></p>
          <i style="color:green;">Apply to an Irish university and get your acceptance letter</i>
<p></p>
          <p>If you’re still not sure where you want to study in Ireland, you will have to decide before you can start your student visa application process. After being accepted at an Irish university, you’ll get an acceptance letter required for the visa application.</p>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 text-center">
            <img src="{% static 'assets/img/advantage of education system.jpg' %}" alt="" class="img-fluid">
          </div>
        </div>
      </div>
      <div class="tab-pane" id="tab-2">
        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
            <h3>Most popular academic disciplines in Ireland</h3>

            <ul>
              <li><i class="ri-check-double-line"></i> <a href="https://www.mastersportal.com/search/masters-degrees/computer-science-it-in-ireland/?q=ci-14%7Cdi-24%7Clv-master">Masters in Computer Science in Ireland</a>  </li>
              <li><i class="ri-check-double-line"></i><a href="https://www.mastersportal.com/search/masters-degrees/education-in-ireland/?q=ci-14%7Cdi-8%7Clv-master"> Masters in Education in Ireland</a></li>
              <li><i class="ri-check-double-line"></i><a href="https://www.mastersportal.com/search/masters-degrees/sociology-in-ireland/?q=ci-14%7Cdi-80%7Clv-master">Masters in Sociology in Ireland</a>   </li>
              <li><i class="ri-check-double-line"></i><a href="https://www.mastersportal.com/search/masters-degrees/political-science-in-ireland/?q=ci-14%7Cdi-316%7Clv-master">Masters in Political Science in Ireland  </a> </li>
              <li><i class="ri-check-double-line"></i><a href="https://www.mastersportal.com/search/masters-degrees/management-organisation-leadership-in-ireland/?q=ci-14%7Cdi-89%7Clv-master"> Masters in Management in Ireland </a></li>
              <!-- <li><i class="ri-check-double-line"></i>any other issue which the visa officer deems relevant. </li> -->
            </ul>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 text-center">
            <img src="{% static 'assets/img/academic desciplines.jpg' %}" alt="" class="img-fluid">
          </div>
        </div>
      </div>
      <div class="tab-pane" id="tab-3">
        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
            <h3>Best universities in Ireland</h3>
            <ul>
              <li><i class="ri-check-double-line"></i> <a href="https://www.mastersportal.com/universities/595/university-college-dublin.html">University College Dublin</a>  </li>
              <li><i class="ri-check-double-line"></i><a href="https://www.mastersportal.com/universities/219/university-college-cork.html"> University College Cork</a></li>
              <li><i class="ri-check-double-line"></i><a href="https://www.mastersportal.com/universities/780/dublin-city-university.html">Dublin City University</a>   </li>
              <li><i class="ri-check-double-line"></i><a href="https://www.mastersportal.com/universities/212/university-of-limerick.html">University of Limerick  </a> </li>
              <li><i class="ri-check-double-line"></i><a href="https://www.mastersportal.com/universities/127/dublin-institute-of-technology.html"> Dublin Institute of Technology </a></li>
              <!-- <li><i class="ri-check-double-line"></i>any other issue which the visa officer deems relevant. </li> -->
            </ul>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 text-center">
            <img src="{% static 'assets/img/best universities.jpg' %}" alt="" class="img-fluid">
          </div>
        </div>
      </div>
      <div class="tab-pane" id="tab-4">
        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
            <h3>Student Visa Types</h3>
              <i>Find out what type of visa you need to study in Ireland</i>
            <p>
              If you're not from the EU or EEA, you need to apply for a visa to enter Ireland and study there. The type of visa you should apply for depends on the length of your degree:

            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> <b> C-type study visa –</b> for any study programme/course that lasts less than 3 months (90 days)</li>
              <li><i class="ri-check-double-line"></i> <b> D-type study visa –</b> for any study programme that lasts longer than 3 months. To stay longer than 3 months, non-EU/EEA students also have to register with the Garda National Immigration Bureau, which can grant the permission to stay in Ireland beyond the initial 90 days.</li>
              <!-- <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li> -->
            </ul>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 text-center">
            <img src="{% static 'assets/img/student visa.jpg' %}" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
<p></p>
    <ul class="nav nav-tabs row d-flex">
      <li class="nav-item col-3" data-aos="zoom-in">
        <a class="nav-link active show" data-bs-toggle="tab" href="#tab-5">
          <i class="ri-gps-line"></i>
          <h4 class="d-none d-lg-block">When and where to apply for study visa in Ireland?</h4>
        </a>
      </li>
      <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="100">
        <a class="nav-link" data-bs-toggle="tab" href="#tab-6">
          <i class="ri-body-scan-line"></i>
          <h4 class="d-none d-lg-block">Language requirements for studying in Ireland</h4>
        </a>
      </li>
      <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="200">
        <a class="nav-link" data-bs-toggle="tab" href="#tab-7">
          <i class="ri-sun-line"></i>
          <h4 class="d-none d-lg-block">Documents required for the student visa in Ireland</h4>
        </a>
      </li>
      <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="300">
        <a class="nav-link" data-bs-toggle="tab" href="#tab-8">
          <i class="ri-store-line"></i>
          <h4 class="d-none d-lg-block">Conditions to apply for a residence permit</h4>
        </a>
      </li>
    </ul>

    <div class="tab-content" data-aos="fade-up">
      <div class="tab-pane active show" id="tab-5">
        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
            <h3> When and where to apply for the study visa in Ireland?</h3>


          <li><i class="ri-check-double-line"></i>You can apply for a study visa up to 3 months before your date of arrival in Ireland.</li>
          <li><i class="ri-check-double-line"></i>To apply, you must simply complete an online application form on the website of the Irish Naturalization and Immigration Service.</li>
          <li><i class="ri-check-double-line"></i>After filling the online application process, follow the instructions and submit your supporting documentation.</li>
          <li><i class="ri-check-double-line"></i>You may be required to provide your Biometrics information as part of the application process.</li>
          <li><i class="ri-check-double-line"></i>The visa processing time is variable, depending on your nationality and other factors. Usually, you will get an answer in 4 to 8 weeks from the date on which your application is lodged at the Visa Office/Embassy/Consulate.</li>
          <li><i class="ri-check-double-line"></i>It is best not to buy travel tickets until you receive an official answer from the Irish consulate.</li>

          </div>
          <div class="col-lg-6 order-1 order-lg-2 text-center">
            <img src="{% static 'assets/img/when where to apply.jpg' %}" alt="" class="img-fluid">
          </div>
        </div>
      </div>

      <div class="tab-pane" id="tab-6">
        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
            <h3>Language requirements for studying in Ireland</h3>

            <p class="font-italic">
International students must meet the minimum English language requirements in order to be granted a student immigration permit.            </p>
            <ul>
              You will be required to provide proof of English language proficiency through an internationally recognized certificate, which has been issued within 2 years of the expected start date of the course. Accepted English exams are:

              <li><i class="ri-check-double-line"></i>  <a href="https://link.studyportals.com/schedule-ielts">IELTS Academic</a> </li>
              <li><i class="ri-check-double-line"></i>   <a href="https://link.studyportals.com/schedule-toefl2">TOEFL iBT</a></li>
              <li><i class="ri-check-double-line"></i>  <a href="https://pearsonpte.com/the-test/test-centers-and-fees/">PTE Academic</a> </li>
            </ul>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 text-center">
            <img src="{% static 'assets/img/language req.jpg' %}" alt="" class="img-fluid">
          </div>
        </div>
      </div>

      <div class="tab-pane" id="tab-7">
        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
            <h3> Documents for the student visa in Ireland</h3>

            <ul>
              <li><i class="ri-check-double-line"></i>Two recent colour passport-size photographs</li>
              <li><i class="ri-check-double-line"></i>Passport and a full copy of any previous passports</li>
              <li><i class="ri-check-double-line"></i>A signed letter of application including your full contact details (stating the reason you want to come to Ireland)</li>
              <li><i class="ri-check-double-line"></i>Letter of Acceptance from the college/university</li>
              <li><i class="ri-check-double-line"></i>Evidence accounting for any gaps in your educational history</li>
              <li><i class="ri-check-double-line"></i>Proof of payment of the registration and tuition fees</li>
              <li><i class="ri-check-double-line"></i>Copies of all academic qualifications and exam results required for university studies</li>
              <li><i class="ri-check-double-line"></i>English language proficiency certificate</li>
              <li><i class="ri-check-double-line"></i>Proof you have sufficient funds to support your stay in Ireland without recourse to public funds, or the reliance on casual employment</li>
              <li><i class="ri-check-double-line"></i>Medical Insurance</li>
              <li><i class="ri-check-double-line"></i>Commitment to leave Ireland on the expiry of your visa</li>
            </ul>

            <p>The estimated costs of living in Ireland for a student during one academic year are 7,000 EUR. Non-EU/EEA students who are studying for a period of fewer than 6 months are required to prove that they are able to handle living costs of 500 EUR/month.

            </p>
            <p><i>Find out more up-to-date information about the student visa for Ireland on the <a href="http://www.inis.gov.ie/en/INIS/Pages/Study">official Irish government website.</a> </i></p>
            <ul>Useful information about the student visa in Ireland
              <li><i class="ri-check-double-line"></i> <a href="https://www.dfa.ie/travel/visas/us-ireland-visa-arrangements/">US</a> </li>
              <li><i class="ri-check-double-line"></i> <a href="http://www.vfsglobal-ie-ng.com/">Nigeria</a> </li>
                <li><i class="ri-check-double-line"></i> <a href="https://ireland.visahq.ca/">Canada</a> </li>
                  <li><i class="ri-check-double-line"></i> <a href="http://www.vfsglobal.com/ireland/turkey/english/conference.html">Turkey</a> </li>

              <li><i class="ri-check-double-line"></i>Apply for a work permit in Ireland</li>

              <ul><i class="ri-check-double-line"></i>EU and EEA students are allowed to work in Ireland without any restrictions, whether they take up full-time or part-time work. Non-EU/EEA students can work:
<li>part-time: up to 20 hours per week during semesters</li>
<li>full-time: 40 hours per week during scheduled holidays</li>
</ul>
            </ul>

            <p>
              However, they have to meet the following criteria:
<li> Hold a GNIB card – a certificate of registration you receive from the Immigration Office on your arrival in Ireland</li>
<li>Be enrolled in a study programme that is included on the government's list of visa eligible courses</li>

</p>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 text-center">
            <img src="{% static 'assets/img/documents req.jpg' %}" alt="" class="img-fluid">
          </div>
        </div>
      </div>
      <div class="tab-pane" id="tab-8">
        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
            <h3>Conditions to apply for a residence permit</h3>
            <p>
            If you enrolled for a study degree that lasts longer than 3 months, you will need to register at the local Garda National Immigration Bureau (GNIB) as soon as you arrive in Ireland.
            </p>

            <ul>You will have to submit documents such as:

              <li><i class="ri-check-double-line"></i>passport</li>
              <li><i class="ri-check-double-line"></i>four recent passport-size photographs</li>
              <li><i class="ri-check-double-line"></i>documentation regarding your entry into Ireland (e.g. evidence of funds, or confirmation of enrolment on a recognized course)</li>
            </ul>

            <p class="font-italic">
              The residence permit allows you to stay in the country for up to 12 months. You will receive a Certificate of Registration (known as a Green Book), which must be renewed before it expires.
            </p>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 text-center">
            <img src="{% static 'assets/img/permit residency.jpg' %}" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </div>




  </div>
</section><!-- End Features Section -->

</main>
{% endblock %}
