{% extends 'base.html' %}
{% load static %}
{% block body_block %}

<main id="main">

<br>
<!-- ======= Features Section ======= -->
<section id="features" class="features">
  <div class="container">

    <div class="section-title">
      <p>Know More about Ireland</p>
      <i>to be added </i>
    </div>

    <ul class="nav nav-tabs row d-flex">
      <li class="nav-item col-3" data-aos="zoom-in">
        <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">
          <i class="ri-gps-line"></i>
          <h4 class="d-none d-lg-block">IRISH ECONOMY</h4>
        </a>
      </li>
      <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="100">
        <a class="nav-link" data-bs-toggle="tab" href="#tab-2">
          <i class="ri-body-scan-line"></i>
          <h4 class="d-none d-lg-block">Types of Companies in Ireland</h4>
        </a>
      </li>
      <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="200">
        <a class="nav-link" data-bs-toggle="tab" href="#tab-3">
          <i class="ri-sun-line"></i>
          <h4 class="d-none d-lg-block">The Irish Property Market</h4>
        </a>
      </li>
      <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="300">
        <a class="nav-link" data-bs-toggle="tab" href="#tab-4">
          <i class="ri-store-line"></i>
          <h4 class="d-none d-lg-block">The Irish Education System</h4>
        </a>
      </li>
    </ul>

    <div class="tab-content" data-aos="fade-up">
      <div class="tab-pane active show" id="tab-1">
        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
            <h3>IRISH ECONOMY</h3>

            <ul>The Irish economy has many core strengths, namely its strong flexibility, a highly educated workforce, positive demographics and a pro-enterprise environment. The Economic and Social Research Institute estimates that the Irish economy grew by 3.4% in 2020.

              <li><i class="ri-check-double-line"></i>Most-highly employable graduates (European Commission Study)</li>
              <li><i class="ri-check-double-line"></i>12th for competitiveness (IMD World Competitiveness Yearbook 2020)</li>
              <li><i class="ri-check-double-line"></i>Best performing economy in the EU for the last 4 years </li>
              <li><i class="ri-check-double-line"></i>Irish Government finances were in surplus in 2019 and Ireland receives an ‘A’ grade from all major credit rating agencies</li>
              <li><i class="ri-check-double-line"></i>11th best country to do business in the World (Forbes 2019)</li>
            </ul>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 text-center">
            <img src="https://images.pexels.com/photos/259249/pexels-photo-259249.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" class="img-fluid">
          </div>
        </div>
      </div>
      <div class="tab-pane" id="tab-2">
        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
            <h3>Types of Companies in Ireland</h3>

            <ul>
              <li><i class="ri-check-double-line"></i>Ireland is the largest exporter of computer software in the world</li>
              <li><i class="ri-check-double-line"></i> Ireland is home to 9 of the top 10 pharmaceutical companies in the world</li>
              <li><i class="ri-check-double-line"></i>Ireland is home to 8 of the top 10 technology companies in the world.  </li>
              <li><i class="ri-check-double-line"></i> 50% of the world’s fleet of leased aircraft is managed from Ireland </li>
              <li><i class="ri-check-double-line"></i> Ireland is home to more than 50% of the top financial services companies in the world</li>
              <li><i class="ri-check-double-line"></i> Ireland is home to more than 50% of the top financial services companies in the world</li>

            </ul>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 text-center">
            <img src="{% static 'assets/img/companies in ireland.jpg' %}" alt="" class="img-fluid">
          </div>
        </div>
      </div>
      <div class="tab-pane" id="tab-3">
        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
            <h3>The Irish Property Market</h3>
            <ul>
              <li><i class="ri-check-double-line"></i> The Irish property market peaked in February 2007 and declined for the following 5 Years.</li>
              <li><i class="ri-check-double-line"></i> Property prices nationally have increased by 85.3% from their low in early 2013.</li>
              <li><i class="ri-check-double-line"></i> Average price of houses sold in Ireland rose by 6% in 2020. </li>
              <li><i class="ri-check-double-line"></i>   There is still good value property for sale in Dublin city.</li>
              <li><i class="ri-check-double-line"></i>    The Fitzwilliam team can assist you in choosing your desired property investment. </li>
              <!-- <li><i class="ri-check-double-line"></i> </li> -->
            </ul>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 text-center">
            <img src="{% static 'assets/img/property market.jpg' %}" alt="" class="img-fluid">
          </div>
        </div>
      </div>
      <div class="tab-pane" id="tab-4">
        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
            <h3>The Irish Education System</h3>

            <ul>
              <li><i class="ri-check-double-line"></i>   Irish students have an exceptionally high level of participation in the education system</li>
              <li><i class="ri-check-double-line"></i>    Irish schools and colleges offer a safe and friendly environment for international students</li>
              <li><i class="ri-check-double-line"></i> Education in Ireland is compulsory from ages 6 to 16. Private tuition is also readily available for students at all levels of the education system</li>
            </ul>
            <p></p>
            <ul>The Irish education system is made up of 4 levels:
              <li><i class="ri-check-double-line"></i> Pre-School* (3 to 4 Years of Age)</li>
              <li><i class="ri-check-double-line"></i>   First Level* (4 to 12 Years of Age)</li>
              <li><i class="ri-check-double-line"></i>   Second Level* (12 to 18 Years of Age)</li>
              <li><i class="ri-check-double-line"></i>     Third Level (18 Years +)</li>
                <i>*Free of cost to all Irish residents</i>
            </ul>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 text-center">
            <img src="{% static 'assets/img/education system.jpg' %}" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
<p></p>
    <ul class="nav nav-tabs row d-flex">
      <li class="nav-item col-3" data-aos="zoom-in">
        <a class="nav-link " data-bs-toggle="tab" href="#tab-5">
          <i class="ri-gps-line"></i>
          <h4 class="d-none d-lg-block">Universities in Ireland</h4>
        </a>
      </li>
      <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="100">
        <a class="nav-link" data-bs-toggle="tab" href="#tab-6">
          <i class="ri-body-scan-line"></i>
          <h4 class="d-none d-lg-block">HealthCare in Ireland</h4>
        </a>
      </li>
      <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="200">
        <a class="nav-link" data-bs-toggle="tab" href="#tab-7">
          <i class="ri-sun-line"></i>
          <h4 class="d-none d-lg-block">Irish Social Welfare (Citizens)</h4>
        </a>
      </li>
      <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="300">
        <a class="nav-link" data-bs-toggle="tab" href="#tab-8">
          <i class="ri-store-line"></i>
          <h4 class="d-none d-lg-block">Irish Immigrant Investor Programme (IIP)</h4>
        </a>
      </li>
    </ul>

    <div class="tab-content" data-aos="fade-up">
      <div class="tab-pane active show" id="tab-5">
        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
            <h3>Universities in Ireland</h3>

  <p>There are eight public universities in Ireland which rank impressively well at international level and the country as a whole is understandably a popular choice for international students. The varied selection of higher education institutions combines with historic cities, beautiful countryside and Ireland’s unique culture to make Ireland a highly attractive study destination</p>
  <ol><b>Eight public universities in Ireland:</b>
      <li>Trinity College Dublin</li>
      <li>University College Dublin</li>
      <li>NUI Galway</li>
      <li>University College Cork</li>
      <li> Maynooth University</li>
      <li>Dublin City University</li>
      <li> University of Limerick</li>
      <li> Technological University</li>


</ol>

          </div>
          <div class="col-lg-6 order-1 order-lg-2 text-center">
            <img src="{% static 'assets/img/universities.jpg' %}" alt="" class="img-fluid">
          </div>
        </div>
      </div>

      <div class="tab-pane" id="tab-6">
        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
            <h3>HealthCare in Ireland</h3>

            <p>Healthcare in Ireland comprises of two sectors, namely public healthcare and private healthcare. For the purpose of the ‘Immigrant Investment Program’, beneficiaries must have private health insurance (which is relatively inexpensive) while they reside in Ireland.</p>
            <h5>Health Professionals</h5>
            <p>When dealing with health professional such as doctors at their private practices, patients pay the health professional directly and then claim the cost of the consultation from the private health insurance company.</p>
            <h5>Hospitals</h5>
            <p>When entering a hospital in Ireland, your private medical insurance details are taken and, in most cases, the private health insurance company will pay the hospital directly for their services.</p>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 text-center">
            <img src="{% static 'assets/img/healthcare.jpg' %}" alt="" class="img-fluid">
          </div>
        </div>
      </div>

      <div class="tab-pane" id="tab-7">
        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
            <h3> Irish Social Welfare (Citizens)</h3>

            <h5>Jobseekers Benefit</h5>
            <p>Weekly payment to people who are out of work and are covered by social insurance. (Maximum personal rate is €812 per month)</p>
            <h5>Jobseekers Allowance</h5>
            <p>For those who do not qualify for Jobseeker’s Benefit. Must be capable, available and actively seeking work. (Maximum personal rate of persons over 26 years is €812 per month)</p>
            <h5>Self-employed unemployment</h5>
            <p>Means tested on an individual basis.</p>


            <h5>State Pension (Contributory)</h5>
            <p>Dependent on social insurance contributions. (Maximum personal rate is €993.2 per month)</p>
            <h5>State Pension (Non-Contributory)</h5>
            <p>Means tested and must be over 66 years old and under 80 years (Maximum personal rate is €948 per month), aged 80+ (Maximum personal rate is €988).</p>
            <h5>Illness</h5>
            <p>Given to people who are unable to work due to illness. (Maximum personal rate is €812 per month).</p>

            <h5>Maternity Benefit</h5>
            <p>Must be covered by social insurance (Maximum personal payment of €980 per month)</p>

            <h5>Irish Heritage</h5>
            <p>Whether it is nature, wildlife, folklore or built heritage, Ireland is a land of historical enlightenment. Diverse events are regularly hosted nationwide and many are organized by local communities which lend great variety and authenticity. Examples of such occasions include medieval fairs, wild life walks, lectures, poetry recitals, traditional music sessions, storytelling, historical re-enactments, local history walks, theatrical shows and maritime events.</p>

            <h5>Sport</h5>
            <p>Ireland is a country passionate about sport and outdoor activities. Irish professional competitors regularly rank among the world’s elite in sports such as Golf, Equine Sports and Boxing.
‘Gaelic Games’ which include ‘Gaelic Hurling’ and ‘Gaelic Football’ are very popular in Ireland. Nearly every small village has ‘Gaelic Game’ teams which all are welcome to join. Sport in Ireland brings people and communities together to share a common passion.</p>


          </div>

          <div class="col-lg-6 order-1 order-lg-2 text-center">
            <img src="{% static 'assets/img/social welfare.jpg' %}" alt="" class="img-fluid">
          </div>
        </div>
      </div>
      <div class="tab-pane" id="tab-8">
        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
            <h3>Irish Immigrant Investor Programme (IIP) - Endowment Project - Páirc Tailteann Sports Stadium
</h3>
            <p>
          The IIP was announced by the Department of Justice & Equality in January 2012 and is operated by the Irish Naturalization and Immigration Service (INIS). The ultimate objective of the programme is job creation and facilitating Irish economic development.
            </p>

            <ul>You will have to submit documents such as:

              <li><i class="ri-check-double-line"></i>The IIP facilitates non-EEA nationals and their families who commit to an approved investment ‘Option’ in Ireland to acquire a secure residency status in Ireland.</li>
              <li><i class="ri-check-double-line"></i>Investors must be of good character and have not been convicted of criminal offences in any jurisdiction.</li>
              <li><i class="ri-check-double-line"></i>Investors must have a minimum net worth of €2m and disclose in full the source of their funds.</li>
            </ul>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 text-center">
            <img src="{% static 'assets/img/imp policy.jpg' %}" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </div>

    <ul class="nav nav-tabs row d-flex">
      <li class="nav-item col-3" data-aos="zoom-in">
        <a class="nav-link active show" data-bs-toggle="tab" href="#tab-9">
          <i class="ri-gps-line"></i>
          <h4 class="d-none d-lg-block">Investment Options</h4>
        </a>
      </li>
      <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="100">
        <a class="nav-link" data-bs-toggle="tab" href="#tab-10">
          <i class="ri-body-scan-line"></i>
          <h4 class="d-none d-lg-block">Terms</h4>
        </a>
      </li>
      <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="200">
        <a class="nav-link" data-bs-toggle="tab" href="#tab-11">
          <i class="ri-sun-line"></i>
          <h4 class="d-none d-lg-block">Irish Residency Documentation</h4>
        </a>
      </li>
      <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="300">
        <a class="nav-link" data-bs-toggle="tab" href="#tab-12">
          <i class="ri-store-line"></i>
          <h4 class="d-none d-lg-block">Do you need a VISA?</h4>
        </a>
      </li>
    </ul>

    <div class="tab-content" data-aos="fade-up">
      <div class="tab-pane active show" id="tab-9">
        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
            <h3>Investment Options</h3>

            <ol>
              <li> <b>Enterprise Investment (€1m for 4 year term) – </b>Fitzwilliam Group’s Projects are approved by INIS under this option</li>
              <li> <b>Investment Fund (€1m for 3 years) –</b> Investment monies are not secured on assets and are subject to investment performance and annual fees</li>
              <li> <b> Real Estate Investment Trusts (€2m, for 5 year term) – </b>Investment amount not competitive</li>
              <li> <b>Endowment (€500,000)</b></li>
            </ol>
              </div>
          <div class="col-lg-6 order-1 order-lg-2 text-center">
            <img src="{% static 'assets/img/investment.jpg' %}" alt="" class="img-fluid">
          </div>
        </div>
      </div>
      <div class="tab-pane" id="tab-10">
        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
            <h3>Terms</h3>

            <ol>
              <li> <b>Evidence of Net Worth  – </b> Investors must have a minimum net worth of €2 million.</li>
              <li> <b>Evidence of Funds –</b> Investors must provide proof of funds to be used for investment.</li>
              <li> <b> Evidence of Source of funds  – </b>Investors must provide the necessary evidence to prove the origin of funds. An accountant and a lawyer should be appointed to deal with all sources of funding and any related technical issues. The following sources of funding may be accepted</li>

              <li> <b>Evidence that funds can be transferred </b>All funds must be available to transfer to Ireland and can be convertible into Euros at the time of your application being approved.</li>
                    <li> <b>Recouping Investment   – </b>  After 4 years an Investor’s funds are projected to be returned within 12 weeks of the Investor calling on the funds.</li>
                    <li> <b>Flexible residency</b> Investors only need to spend one day per calendar year in Ireland to meet the residency requirements of the programme.</li>
                          <li> <b>Management Experience not required  – </b> The immigrant investor does not require business management experience.</li>
                          <li> <b>Language skills and qualifications not required -</b> This immigrant investor programme has no English language skills or qualification requirements.</li>
                                <li> <b>Naturalisation - </b> Investors living in Ireland for five years can qualify for Irish / EU citizenship.</li>

            </ol>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 text-center">
            <img src="{% static 'assets/img/terms.jpg' %}" alt="" class="img-fluid">
          </div>
        </div>
      </div>
      <div class="tab-pane" id="tab-11">
        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
            <h3>Irish Residency Documentation</h3>
            <li> <b>Stamp 4
 </b>This is a stamp which is placed in a passport, it specifies that a person may reside and work in Ireland, this is the residency permit. It is valid for 2 years initially, then extended by 3 years. Then it is extended in 5 years intervals.
</li>
                  <li> <b>IRP CARD   – </b>  Irish Residence Permit (IRP) Card, this is a credit card style authorization. The IRP card contains a person’s photograph and details of their residency status (i.e., that they have a stamp 4 etc.)
</li>
                  <li> <b>Multi Entry Visa
</b>This is a passport sticker which states that the person may enter in and out of Ireland for the duration of their residency permission (Applies to persons under 16 years of age).
</li>
                        <li> <b>Citizenship
 – </b> Persons who achieve their Irish Residency under the Irish Immigrant Investor Programme are eligible to apply for their Irish Citizenship by means of naturalization after spending 5 years (1825 Days) living in Ireland.
The specific requirements are that you have a period of 365 days* (1 year) continuous reckonable residence in the State immediately before the date of your application for naturalization and During the 8 years before that, have had a total reckonable residence in the State of 1,460 days* (4 Years)
</li>

          </div>
          <div class="col-lg-6 order-1 order-lg-2 text-center">
            <img src="{% static 'assets/img/residency.jpg' %}" alt="" class="img-fluid">
          </div>
        </div>
      </div>
      <div class="tab-pane" id="tab-12">
        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
            <h3>Do you need a VISA?</h3>


            <ul>You do not need an Irish visa to travel to Ireland if:
              <li><i class="ri-check-double-line"></i>  you have a valid Irish Residence Permit, or you have a Travel Document which was issued by Ireland</li>
              <li><i class="ri-check-double-line"></i> you have a document called “Residence card of a family member of a Union citizen” issued, by any country, under 10 of Directive 2004/38/EC (the “Free Movement Directive”). Please contact the authority who issued the document for advice if the document you have comes within the definition of the Directive, as implemented by that particular Member State.</li>
              <!-- <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li> -->
            </ul>
            <p>
              For all other situations, regardless of where you live, or the nationality of your family member, you’re needing an Irish Visa or Preclearance is based on:
 your nationality (if you are not a refugee) or
  the country which issued your travel document (if you are a refugee).


            </p>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 text-center">
            <img src="{% static 'assets/img/visa.jpg' %}" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </div>



  </div>


</section><!-- End Features Section -->

</main>
{% endblock %}
